<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog">
  <form name="formData" ng-submit="submitForm()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=group></md-ico></md-button>
			<h2 translate>TOOLBAR_USERS</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-content layout=column layout-padding>
    	
    	<!-- FORMULARIO DE PERSONAS -->
			<frm-personas layout=row layout-padding style="padding-bottom:8px;"></frm-personas>
    	
    	<!-- FORMULARIO DE USUARIO -->
			<div class="card card-outline card-primary no-padding no-margin">
				<div class="card-header text-center">
				  <h3 class="card-title" translate>LB_USER_INFORMATION</h3>
				</div>
				<div class="card-body" layout=column layout-padding>
					<div class="form-group required">
						<label translate>LB_PROFILES</label>
						<div class="input-group" flex ng-controller="profilesListCtrl">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=account_circle></md-ico></div></div> 
							<select class="form-control text-uppercase" ng-model="frmParent.fk_perfil_id" ng-required="true" ng-options="row.perfil_id as row.perfil_nombre for row in jsonList"></select>
						</div>
					</div>
					<div class="form-group required" ng-if="!toogleEditMode">
						<label translate>LB_USER</label>
						<div class="input-group" flex>
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=verified_user></md-ico></div></div> 
							<input ng-model="frmParent.usuario_login" class="form-control" placeholder="ID de Usuario" required>
						</div>
					</div>
					<div class="form-group required" ng-if="toogleEditMode">
						<label translate>LB_STATUS</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
							<select class="form-control" ng-model="frmParent.usuario_estado" ng-options="val as val for (key,val) in string2JSON('statusType')"></select>
						</div>
					</div>
				</div>
			</div>
		</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>