<md-card ng-cloak ng-controller="myTableCtrl">
	<md-toolbar  ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=view_quilt></md-ico></md-button>
			<h2 class="md-flex" translate>TOOLBAR_TABLES_DB</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()"><md-ico i=search></md-ico></md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()"><md-ico i=refresh></md-ico></md-button>
		</div>
	</md-toolbar>
	<toolbar-filter></toolbar-filter>
	<md-table-container>
			<table md-table class="md-primary table-hover" md-progress="deferred">
				<thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
					<tr md-row>
						<th md-column><span translate>LB_CODE</span></th>
						<th md-column><span translate>LB_DETAIL</span></th>
					</tr>
				</thead>
				<tbody>
					<tr md-row data-ng-repeat="row in rowsParent.data">
						<td md-cell>
							<md-ico i=fingerprint></md-ico><span ng-bind-html="highlight(row.tabla_id)"></span><br>
							<md-ico i=web_asset></md-ico><span ng-bind-html="highlight(row.modulo_nombre)"></span>
						</td>
						<td md-cell>
							<md-ico i=web_asset></md-ico><span ng-bind-html="highlight(row.tabla_name)"></span><br>
							<md-ico i=credit_card></md-ico><span ng-bind-html="highlight(row.tabla_nombre)"></span><br>
							<md-ico i=view_quilt></md-ico><span ng-bind-html="highlight(row.tabla_label)"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<footer-table></footer-table>
</md-card>