<md-card ng-cloak ng-controller="myTableCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=lightbulb_outline></md-ico></md-button>
			<h2 translate>TOOLBAR_RESOURCES</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()"><md-ico i=search></md-ico></md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()"><md-ico i=refresh></md-ico></md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openModal()"><md-ico i=add></md-ico></md-button>
		</div>
	</md-toolbar>
	<toolbar-filter></toolbar-filter>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column md-numeric md-order-by="recurso_id"><span translate>LB_CODE</span></th>
					<th md-column md-order-by="recurso_tipo"><span translate>LB_TYPE</span></th>
					<th md-column md-order-by="recurso_nombre"><span translate>LB_RESOURCES</span></th>
					<th md-column md-order-by="recurso_descripcion"><span translate>LB_DESCRIPTION</span></th>
					<th md-column md-order-by="recurso_detalles"><span translate>LB_DETAIL</span></th>
					<th md-column md-order-by="recurso_estado"><span translate>LB_STATUS</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.data">
					<td md-cell><span ng-bind-html="highlight(row.recurso_id)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.recurso_tipo)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.recurso_nombre)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.recurso_descripcion)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.recurso_detalles)"></span></td>
					<td md-cell><span ng-bind-html="statusLabel[row.recurso_estado]"></span></td>
					<td md-cell class="table-menu text-center" layout=row>
					  <menu-single></menu-single>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	<footer-table></footer-table>
</md-card>