<md-card ng-cloak ng-controller="myTableCtrl">
	<md-toolbar  ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=done_all></md-ico></md-button>
			<h2 class="md-flex" translate>LB_PROCESSES_AND_CONTRACTS</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()">
				<md-ico i=search></md-ico><md-tooltip><span translate>LB_SEARCH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openModal({edit:false,fk_arearequiriente_id:session.ppersonal_id})">
				<md-ico i=add></md-ico><md-tooltip><span translate>LB_NEW</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<toolbar-filter></toolbar-filter>
	<md-table-container>
		<table md-table class="md-primary table-hover" md-progress="deferred">
      <col style="">
     	<col style="width:25%">
     	<col style="width:5%">
			<thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_PROCESSES_AND_CONTRACTS</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
			</thead>
			<tbody>
				<tr md-row data-ng-repeat="row in rowsParent.data">
					<td md-cell class="text-uppercase">
						<md-ico i=reorder></md-ico><span ng-bind-html="highlight(row.proceso_codigo)"></span><br>
						<md-ico i=reorder></md-ico><span ng-bind-html="highlight(row.proceso_nombre)"></span><br>
						<md-ico i=reorder></md-ico><span ng-bind-html="highlight(row.proceso_descripcion)"></span><br>
						<md-ico i=reorder></md-ico><span ng-bind-html="highlight(row.proceso_contrato_ordencompra)"></span><br>
						<md-ico i=reorder></md-ico><span ng-bind-html="highlight(row.procedimiento_contratacion)"></span><br>
						<md-ico i=person></md-ico><span ng-bind-html="highlight(row.personal_titulo)"></span>
					</td>
					<td md-cell class="text-uppercase">
						<md-ico i=event></md-ico><span>{{row.proceso_fregistro | date:'fullDate'}}</span><br>
						<md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.proceso_estado]"></span><br>
						<md-ico i=event_available></md-ico><span ng-bind-html="highlight(row.proceso_registro)"></span><br>
						<md-ico i=person></md-ico><span ng-bind-html="highlight(row.usuario)"></span>
					</td>
					<td md-cell class="table-menu text-center">
						<menu-process-contracts></menu-process-contracts>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<footer-table></footer-table>
</md-card>