<md-card ng-cloak ng-controller="myTableCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button">
				<md-ico i=account_balance></md-ico>
				<md-tooltip><span translate>LB_BANK_ACCOUNTS</span></md-tooltip>
			</md-button>
			
			<form flex name="filter.form">
	      <input class="form" type="text" ng-model="filterParent.filter" id="inputSearch" ng-model-options="filter.options" placeholder="{{'LB_SEARCH_MAIN_TOOLBAR' | translate}}">
	    </form>
			<md-button aria-label="btn" class="md-icon-button" ng-if="filterParent.filter!=''" ng-click="filterParent.filter=''">
				<md-ico i=clear></md-ico><md-tooltip><span translate>LB_CLEAR</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_INCUMBENT</span></th>
					<th md-column><span translate>LB_BANK</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.data">
					<td md-cell class="text-uppercase">
						<md-ico i=credit_card></md-ico><span ng-bind-html="highlight(row.persona_doc_identidad)"></span><br>
						<md-ico i=person></md-ico><span ng-bind-html="highlight(row.titular)"></span>
					</td>
					<td md-cell>
						<md-ico i=account_balance></md-ico><span ng-bind-html="highlight(row.banco_nombre)"></span><br>
						<md-ico i=flag></md-ico><span ng-bind-html="highlight(row.banco_cuenta_tipo)"></span><br>
						<md-ico i=account_balance_wallet></md-ico><span ng-bind-html="highlight(row.banco_cuenta_numero)"></span>
					</td>
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.banco_estado]"></span><br>
						<md-ico i=event></md-ico><span ng-bind-html="highlight(row.banco_registro)"></span><br>
            <md-ico i=person></md-ico><span ng-bind-html="highlight(row.usuario)"></span>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	<footer-table></footer-table>
</md-card>