<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog modal-lg">
  <form name="formData" ng-submit="submitRequested()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=access_time></md-ico></md-button>
			<h2 translate>TOOLBAR_WORKDAYS</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
    	
    	<!-- FORMULARIO DE REGISTRO -->
			<div class="card card-outline card-primary no-margin" layout-padding>
				<div class="card-header text-center">
				  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
				</div>
				<div class="card-body padding-all" layout=column layout-padding>
    	
		    	<div class="form-group required">
						<label translate>LB_WORKDAY</label>
					  <div class="input-group">
					    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=gavel></md-ico></div></div> 
					    <input class="form-control" ng-model="frmParent.jornada_nombre" placeholder="Ej. Lunes a Viernes" required />
					  </div>
					</div>
					
					<div layout-xs=column layout=row layout-padding>
			    	<div class="form-group required" flex>
							<label translate>LB_MINIMUM_DAYS_WORKED</label>
							<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=remove_circle_outline></md-ico></div></div> 
					    	<input type="number" step="1" min="0" parse-float class="form-control" parse-float ng-model="frmParent.jornada_diasminimo" placeholder="EJ. 8" required>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>LB_MAXIMUM_DAYS_WORKED</label>
							<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=add_circle_outline></md-ico></div></div> 
					    	<input type="number" step="1" min="frmParent.jornada_diasminimo" class="form-control" parse-float ng-model="frmParent.jornada_diasmaximo" placeholder="EJ. 8" required>
					    </div>
						</div>
		    	</div>
		    	
					<div class="form-group required" ng-if="toogleEditMode">
						<label translate>LB_STATUS</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
							<select class="form-control" ng-model="frmParent.jornada_estado" ng-options="val as val for (key,val) in string2JSON('statusType')"></select>
						</div>
					</div>
					
				</div>
			</div>
			
			
			<div layout-padding ng-controller="scheduleWorkdaysListCtrl">
				
				<div class="card no-margin margin-top" layout-padding ng-repeat="row in frmParent.schedules">
					<div class="card-body padding-all" layout=column layout-padding>
			    	<!-- ARTÍCULOS -->
			    	<div class="row no-padding no-margin">
							<div class="col-md-3 col-xs-3" ng-repeat="(dayIndex,dayName) in string2JSON('WEEK_DAYS')">
								<label>
								  <input type="checkbox" checklist-model="row.horario_dias_semana" checklist-value="dayIndex"> {{dayName}} ({{dayIndex}})
								</label>
							</div>
			    	</div>
			    	
			    	<div layout-xs=column layout=row layout-padding>
				    	<div class="form-group required" flex>
								<label translate>LB_VALUE_PER_RANCH</label>
								<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
						    	<input type="number" step="0.1" min="0" parse-float class="form-control" parse-float ng-model="row.horario_rancho" placeholder="EJ. 8" required>
						    </div>
							</div>
				    	<div class="form-group required" flex>
								<label translate>LB_HOURS_A_DAY</label>
								<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
						    	<input type="number" step="1" min="1" class="form-control" parse-float ng-model="row.horario_horas_dia" placeholder="EJ. 8" required>
						    </div>
							</div>
			    	</div>
			    	<div layout-xs=column layout=row layout-padding>
							<div class="form-group required" flex>
								<label translate>LB_ENTRY_TIME</label>
								<div class="input-group" moment-picker="row.jornada_entrada" format="HH:mm">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
						    	<input class="form-control" ng-model="row.horario_entrada" placeholder="EJ. 08:00" required>
						    </div>
							</div>
							<div class="form-group required" flex>
								<label translate>LB_DEPARTURE_TIME</label>
								<div class="input-group" moment-picker="row.jornada_salida" format="HH:mm" min-date="row.horario_entrada">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_busy></md-ico></div></div> 
						    	<input class="form-control" ng-model="row.horario_salida" placeholder="EJ. 17:00" required>
						    </div>
							</div>
						</div>
			    	
			    	<div layout-xs=column layout=row layout-padding>
			    		<div class="form-group required" flex>
								<label translate>LB_REGISTER_LUNCH_DEPARTURE</label>
								<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
									<select class="form-control" ng-model="row.horario_break" required ng-options="val as val for (key,val) in string2JSON('yesnoLabel')"></select>
								</div>
							</div>
							<div class="form-group required" flex ng-if="row.horario_break=='SI'">
								<label translate>LB_BREAK_TIME</label>
								<div class="input-group" moment-picker="frmParent.jornada_salida_break" format="HH:mm">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
						    	<input class="form-control" ng-model="row.horario_salida_break" placeholder="EJ. 08:00" required>
						    </div>
							</div>
							<div class="form-group required" flex ng-if="row.horario_break=='SI'">
								<label translate>LB_BREAK_RETURN</label>
								<div class="input-group" moment-picker="frmParent.horario_entrada_break" format="HH:mm" min-date="frmParent.horario_salida_break">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_busy></md-ico></div></div> 
						    	<input class="form-control" ng-model="row.horario_entrada_break" placeholder="EJ. 12:00" required>
						    </div>
							</div>
						</div>
			    	
					</div>
				</div>
				
			</div>
			
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>
    	
			