<div layout-xs=column layout=row layout-padding>
	<div layout=column flex>
	
		<ul class="timeline margin-top">
			<li class="time-label text-uppercase">
        <span class="bg-yellow padding-all" translate>LB_SELFPROTECTION_STEP9</span>
      </li>
      
      <!-- INFORMACION DE CAPACITACIONES Y SIMULACROS RECIBIDOS -->
			<li>
				<i class="fa fa-street-view bg-purple"></i>
		    <div class="timeline-item">
		    	<h3 class="timeline-header text-uppercase"><a href="#"><span translate>LB_SELFPROTECTION_STEP9_1</span></a></h3>
		      <div class="timeline-body" layout-padding>
						
						<div class="form-group required" flex>
						  <label translate>LB_SELFPROTECTION_STEP91_DESCRIPTION</label>
						  <div class="input-group">
					      <span class="input-group-addon"><md-ico i=history></md-ico></span>
					      <textarea rows="7" ng-model="frmParent.evacuacion_decisiones" class="form-control" required></textarea>
					    </div>
						</div>
						
						<div class="form-group required" flex>
						  <label translate>LB_SELFPROTECTION_STEP92_DESCRIPTION</label>
						  <div class="input-group">
					      <span class="input-group-addon"><md-ico i=history></md-ico></span>
					      <textarea rows="7" ng-model="frmParent.evacuacion_procedimientos" class="form-control" required></textarea>
					    </div>
						</div>
		      </div>
				</div>
			</li>
			
			<!-- COORDINACION CON CAPACITACIONES CIUDADANAS -->
			<li>
				<i class="fa fa-shield bg-maroon"></i>
		    <div class="timeline-item">
		    	<h3 class="timeline-header text-uppercase"><a href="#"><span translate>LB_SELFPROTECTION_STEP9_2</span></a></h3>
		      <div class="timeline-body" layout-padding>
						<label translate>LB_SELFPROTECTION_STEP9_2_DESCRIPTION</label>
						<div layout-xs=column layout=row layout-padding>
							<a target="_blank" ui-sref="training.calendar({entity:'training'})" flex>
								<md-ico i=settings_input_antenna s=18></md-ico> <span translate>LB_AGEND_A_TRAINING</span>
							</a>
							<a target="_blank" ui-sref="training.calendar({entity:'simulacros'})" flex>
								<md-ico i=directions_run s=18></md-ico> <span translate>LB_AGEND_AN_EMERGENCY_DRILL</span>
							</a>
							<a target="_blank" ui-sref="training.calendar({entity:'stands'})" flex>
								<md-ico i=slideshow s=18></md-ico> <span translate>LB_AGEND_A_STAND</span>
							</a>
						</div>
		      </div>
				</div>
			</li>
			
			<!-- HISTORIAL CON EL CBSD -->
			<li>
				<i class="fa fa-history bg-orange"></i>
		    <div class="timeline-item">
		    	<h3 class="timeline-header text-uppercase"><a href="#"><span translate>LB_SELFPROTECTION_STEP9_3</span></a></h3>
		      <div class="timeline-body" layout-padding>
						<label translate>LB_SELFPROTECTION_STEP9_3_DESCRIPTION</label>
						<div class="font-12 text-uppercase">
							
								<div class="box box-info">
			            <div class="box-header">
			              <h3 class="box-title" translate>LB_PERMIT_INFORMATION</h3>
			              <div class="box-tools"></div>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			              <table class="table">
			                <tr>
			                  <th style="width: 10px">#</th>
			                  <th><span translate>LB_REGISTRATION_FORM</span></th>
			                  <th><span translate>LB_REGISTRE_DATE</span></th>
			                  <th><span translate>LB_STATUS</span></th>
			                </tr>
			                <tr ng-repeat="row in historyList">
			                  <td>{{$index+1}}</td>
			                  <td>{{row.codigo_per}}</td>
			                  <td>{{row.permiso_fecha | date:'fullDate'}}</td>
			                  <td><span ng-bind-html="statusLabel[row.permiso_estado]"></span></td>
			                </tr>
			              </table>
			            </div>
			          </div>
							
								<div class="box" ng-if="historyTrainingList.trainingList.length>0">
			            <div class="box-header">
			              <h3 class="box-title" translate>LB_CITIZENSHIP_TRAINING</h3>
			              <div class="box-tools"></div>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			              <table class="table">
			                <tr>
			                  <th style="width: 10px">#</th>
			                  <th><span translate>LB_REGISTRATION_FORM</span></th>
			                  <th><span translate>LB_REGISTRE_DATE</span></th>
			                  <th><span translate>LB_STATUS</span></th>
			                </tr>
			                <tr ng-repeat="row in historyTrainingList.trainingList">
			                  <td>{{$index+1}}</td>
			                  <td>{{row.capacitacion_codigo}}</td>
			                  <td>{{row.capacitacion_fecha | date:'fullDate'}}</td>
			                  <td><span ng-bind-html="statusLabel[row.capacitacion_estado]"></span></td>
			                </tr>
			              </table>
			            </div>
			          </div>
							
								<div class="box" ng-if="historyTrainingList.simulationsList.length>0">
			            <div class="box-header">
			              <h3 class="box-title" translate>LB_SIMULATIONS</h3>
			              <div class="box-tools"></div>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			              <table class="table">
			                <tr>
			                  <th style="width: 10px">#</th>
			                  <th><span translate>LB_REGISTRATION_FORM</span></th>
			                  <th><span translate>LB_REGISTRE_DATE</span></th>
			                  <th><span translate>LB_STATUS</span></th>
			                </tr>
			                <tr ng-repeat="row in historyTrainingList.simulationsList">
			                  <td>{{$index+1}}</td>
			                  <td>{{row.simulacro_codigo}}</td>
			                  <td>{{row.simulacro_fecha | date:'fullDate'}}</td>
			                  <td><span ng-bind-html="statusLabel[row.simulacro_estado]"></span></td>
			                </tr>
			                </tr>
			              </table>
			            </div>
			         	</div>
							
								<div class="box" ng-if="historyTrainingList.standsList.length>0">
			            <div class="box-header">
			              <h3 class="box-title" translate>LB_STANDS</h3>
			              <div class="box-tools"></div>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			              <table class="table">
			                <tr>
			                  <th style="width: 10px">#</th>
			                  <th><span translate>LB_REGISTRATION_FORM</span></th>
			                  <th><span translate>LB_REGISTRE_DATE</span></th>
			                  <th><span translate>LB_STATUS</span></th>
			                </tr>
			                <tr ng-repeat="row in historyTrainingList.standsList">
			                  <td>{{$index+1}}</td>
			                  <td>{{row.stand_codigo}}</td>
			                  <td>{{row.stand_fecha | date:'fullDate'}}</td>
			                  <td><span ng-bind-html="statusLabel[row.stand_estado]"></span></td>
			                </tr>
			                </tr>
			              </table>
			            </div>
			          </div>
						
						
						
						</div>
		      </div>
				</div>
			</li>
			
			<!-- BOTONERA -->
			<li>
				<i class="fa fa-paper-plane bg-red"></i>
		    <div class="timeline-item">
		      <div class="timeline-body" layout=row layout-padding layout-align="space-between center">
			      <div flex>
							<button type="button" ng-click="goUI('permits.editSelfProtection.step8',{planId:frmParent.plan_id})" class="btn btn-warning btn-block">
								<i-fa i=angle-double-left></i-fa> <span translate>BTN_CANCEL</span>
							</button>
							</div>
						<div flex>
							<button type="button" ng-click="submitForm()" class="btn btn-success btn-block" ng-disabled="formData.$invalid">
								<span translate>BTN_NEXT</span> <i-fa i=angle-double-right></i-fa>
							</button>
						</div>
		      </div>
		  	</div>
		  </li>
		  <li><i class="fa fa-clock-o bg-gray"></i></li>
		</ul>
	
	</div>
</div>