<div layout=column layout-padding>
	<md-content layout-padding layout=row layout-wrap>
		
		 <div class="form-group" flex>
		  <label class="col-sm-3 control-label">(x)</label>
		  <div class="col-sm-9">
		    <div class="input-group">
				<span class="input-group-addon"><i-fa i=flag></i-fa></span>
				<input type=number step=any parse-float class="form-control" ng-model="frmParent.item_cantidad" />
				<span class="input-group-addon">(x)</span>
			 </div>
		  </div>
		</div>
		
		<div class="form-group" flex>
		  <label class="col-sm-3 control-label">(y)</label>
		  <div class="col-sm-9">
		    <div class="input-group">
				<span class="input-group-addon"><i-fa i=flag></i-fa></span>
				<input type=number step=any parse-float class="form-control" ng-model="frmParent.item_x_param" />
				<span class="input-group-addon">(y)</span>
			</div>
		  </div>
		</div>
	  	
	</md-content>
</div>