/geo
/app/src/.dat
/app/src/backup
/app/src/img/requirements/
/app/src/img/
/app/src/sh/
/app/src/psd/
/app/src/autoproteccion/
/app/src/coordenadas/
/app/src/debug/
/app/src/edocumentation/
/app/src/migracion/
/app/src/prevencion/planes/
/app/src/prevencion/capacitaciones/
/app/src/prevencion/locales/
/app/src/prevencion/entidades/
/app/src/attachments/