<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
# If the requested resource doesn't exist, use index.html
# RewriteRule ^ /
# Acces to files
Options -Indexes

# Forzar a que todas las URL acaben con la barra /
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ index.php?_url=$1 [QSA,L]

# Error Document
ErrorDocument 404 /
ErrorDocument 403 /error
</IfModule>