<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    <md-menu-item>
      <md-button aria-label="editar" ng-click="openModal(row)">
          <div layout="row" flex>
            <p flex translate>LB_EDIT</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=edit s=18></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
    <md-divider ng-if="true"></md-divider>
    <md-menu-item ng-if="true">
      <md-button aria-label="editar" ng-click="openParentModal('Reglasmantenimiento',mergeData(row,{fk_plan_id:row.plan_id,edit:false}))">
          <div layout="row" flex>
            <p flex translate>LB_PLAN_MAINTENANCE</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=add_alarm></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>