<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    <md-divider></md-divider>
    <md-menu-item>
      <md-button aria-label="editar" ng-click="exportWithDetail(row.orden_id)">
          <div layout="row" flex>
            <p flex translate>LB_PRINT_REQUEST</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=print></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="row.orden_estado=='EMITIDA'">
      <md-button aria-label="editar" ng-click="anulaItem(row.orden_id)">
          <div layout="row" flex>
            <p flex translate>Anular</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=local_gas_station></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>