<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    <md-menu-item>
      <md-button aria-label="editar" ng-click="openModal(row)" ng-if="allow.permiso7162">
         <div layout="row" flex>
           <p flex translate>LB_EDIT</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=edit></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    <md-divider></md-divider>
    <md-menu-item>
      <md-button aria-label="editar" ng-click="exportWithDetail(row.informe_id)" ng-if="allow.permiso7165">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_ORDER</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>