<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    <md-menu-item ng-if="allow.permiso7122">
      <md-button aria-label="editar" ng-click="openModal(row)">
         <div layout="row" flex>
           <p flex translate>LB_EDIT</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=edit></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-divider ng-if="allow.permiso7125 || (row.orden_estado=='RECIBIDO' || row.orden_estado=='ENTREGADO')"></md-divider>
    
    <md-menu-item>
      <md-button aria-label="editar" ng-click="exportById(row.orden_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_ORDER</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="allow.permiso71251 && (row.orden_estado=='RECIBIDO' || row.orden_estado=='ENTREGADO')">
      <md-button aria-label="editar" ng-click="printReceptionReport(row.orden_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_REPORT</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="allow.permiso71252 && row.orden_estado=='ENTREGADO'">
      <md-button aria-label="editar" ng-click="exportWithDetail(row.orden_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_ACT</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-divider></md-divider>
    
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('logistics.gservices.detailMaintenanceorder',{entityId:row.orden_id})">
          <div layout="row" flex>
            <p flex translate>LB_DETAIL</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=zoom_out_map s=18></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>