<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    <md-menu-item>
      <md-button aria-label="editar" ng-click="openModal(row)">
          <div layout="row" flex>
            <p flex translate>LB_EDIT</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=edit></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
		<md-divider ng-if="allow.permiso10421"></md-divider>
    <md-menu-item ng-if="allow.permiso10421">
      <md-button aria-label="editar" ng-click="openParentModal('Submodulos',{fk_modulo_id:row.modulo_id,edit:false})">
          <div layout="row" flex>
            <p flex translate>LB_SUBMODULES</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=extension></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
		<md-divider ng-if="allow.permiso10431"></md-divider>
    <md-menu-item ng-if="allow.permiso10431">
      <md-button aria-label="editar" ng-click="openParentModal('Tablas',{moduleId:row.modulo_id})">
          <div layout="row" flex>
            <p flex translate>LB_TABLES_DB</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=view_quilt></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>