<md-menu md-position-mode="target-right target">
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    <md-menu-item ng-if="allow.permiso8153">
      <md-button aria-label="editar" ng-click="openModal(row)">
          <div layout="row" flex>
            <p flex translate>LB_EDIT</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=edit></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
    
    <md-divider ng-if="allow.permiso8184 || allow.permiso8162"></md-divider>
    <md-menu-item ng-if="allow.permiso8184">
      <md-button aria-label="editar" ng-click="openParentModal('Antecedentesenfermedades',{staffId:row.fk_paciente_id,edit:false})">
          <div layout="row" flex>
            <p flex translate>LB_REGISTER_BACKGROUND</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=local_hospital></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="allow.permiso8162">
      <md-button aria-label="editar" ng-click="goUI('tthh.medical.newMedicalConsultation',{historyId:row.historia_id})">
          <div layout="row" flex>
            <p flex translate>LB_NEW_MEDICAL_CONSULTATION</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=add_alert></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
    
    <md-divider></md-divider>
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goEntity({id:row.historia_id})">
          <div layout="row" flex>
            <p flex translate>LB_DETAIL</p>
            <md-icon md-menu-align-target class="md-menu-btn-ico">
              <md-ico i=zoom_out_map></md-ico>
            </md-icon>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>