<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
  	
    <md-menu-item ng-if="allow.permiso7132">
      <md-button aria-label="editar" ng-click="openModal(row)">
         <div layout="row" flex>
           <p flex translate>LB_EDIT</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=edit></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-divider ng-if="allow.permiso7135 && row.orden_estado=='SALIDA'"></md-divider>
    
    <md-menu-item ng-if="allow.permiso7135 && row.orden_estado=='SALIDA'">
      <md-button aria-label="editar" ng-click="deleteItem(row.orden_id)">
         <div layout="row" flex>
           <p flex translate>LB_CANCEL_ORDER</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=remove_moderator></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-divider ng-if="allow.permiso7135"></md-divider>
    
    <md-menu-item>
      <md-button aria-label="editar" ng-click="exportById(row.orden_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_ORDER</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
  </md-menu-content>
</md-menu>