<md-menu md-position-mode="target-right target" >
  <md-button aria-label="open_menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
    <md-icon><md-ico i=more_vert></md-ico></md-icon>
  </md-button>
  <md-menu-content width="5">
    
    <md-menu-item ng-if="allow.permiso7172 && row.mantenimiento_estado!='EQUIPOS REPARADOS'">
      <md-button aria-label="editar" ng-click="goUI('logistics.gservices.engineeringEdit',{entityId:row.mantenimiento_id})">
         <div layout="row" flex>
           <p flex translate>LB_EDIT</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=edit></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-menu-item ng-if="row.mantenimiento_estado=='EQUIPOS REPARADOS' && allow.permiso7173">
      <md-button aria-label="editar" ng-click="goUI('logistics.gservices.engineeringEdit',{entityId:row.mantenimiento_id})">
         <div layout="row" flex>
           <p flex translate>LB_EDIT_DATA</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=edit></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    
    
    
    <md-divider></md-divider>
    
    <md-menu-item ng-if="allow.permiso7174">
      <md-button aria-label="editar" ng-click="exportEntityById('mantenimientos_menores',row.mantenimiento_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_ORDER</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-menu-item>
      <md-button aria-label="editar" ng-click="exportEntity('mantenimientos_menores',row.mantenimiento_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_DELIVERY_RECORD</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    <md-menu-item>
      <md-button aria-label="editar" ng-click="printReceptionReport(row.mantenimiento_id)">
         <div layout="row" flex>
           <p flex translate>LB_PRINT_DELIVERY_RECEPTION_RECORD</p>
           <md-icon md-menu-align-target class="md-menu-btn-ico">
             <md-ico i=print></md-ico>
           </md-icon>
         </div>
      </md-button>
    </md-menu-item>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </md-menu-content>
</md-menu>