<md-dialog aria-label="Dialog" class="modal-dialog">
  <form name="formData" ng-submit="submitForm()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="btn"><md-ico i=people></md-ico></md-button>
			<h2 translate>LB_INSTITUTION_STAFF</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="btn" ng-click="closeDialog()"><md-ico i=close></md-ico></md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-content layout=column layout-padding>
			<div layout-xs=column layout=row layout-padding>
				<div class="form-group required" flex>
					<label translate>LB_IDENTIFICATION_TYPE</label>
				  <div class="input-group">
				    <div class="input-group-addon"><md-ico i=flag></md-ico></div>
						<select class="form-control select2" ng-model="frmParent.persona_tipo_doc" required ng-options="key as val for (key,val) in string2JSON('identificationType')"></select>
				  </div>
				</div>
				<div class="form-group required" flex>
					<label translate>LB_IDENTIFICATION_NUMBER</label>
				  <div class="input-group">
				    <div class="input-group-addon"><md-ico i=credit_card></md-ico></div>
						<input ng-model="frmParent.persona_doc_identidad" class="form-control" placeholder="Ej. 230005478961" required maxlength=13>
						<span class="input-group-btn"><button type="button" ng-click="searchPersonInformation(frmParent.persona_doc_identidad,'frmParent',null)" class="btn btn-info btn-flat"><i-fa i=search></i-fa></button></span>
				  </div>
				</div>
			</div>
			<div layout-xs=column layout=row layout-padding>
				<div class="form-group required" flex>
					<label translate>LB_LASTNAME</label>
				  <div class="input-group">
				    <div class="input-group-addon"><md-ico i=person></md-ico></div>
						<input ng-model="frmParent.persona_apellidos" class="form-control" placeholder="Ej. Pinargote Bayas" required>
				  </div>
				</div>
				<div class="form-group required" flex>
					<label translate>LB_NAME</label>
				  <div class="input-group">
				    <div class="input-group-addon"><md-ico i=person_outline></md-ico></div>
				    <input ng-model="frmParent.persona_nombres" class="form-control" placeholder="Ej. Julian Emiliano" required>
				  </div>
				</div>
			</div>
			<div class="form-group required" flex>
				<label translate>LB_MAIL</label>
			  <div class="input-group">
			    <div class="input-group-addon"><md-ico i=email></md-ico></div>
			    <input type="email" ng-model="frmParent.persona_correo" class="form-control" placeholder="Ej. correo@dominio.com" required>
			  </div>
			</div>
		</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>