<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog" ng-controller="workordersExtendsCtrl">
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=local_car_wash></md-ico></md-button>
			<h2 translate>TOOLBAR_WORK_ORDER</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
		<md-content layout=column layout-padding>
				<!-- INFORMACIÓN DE UNIDAD -->
				<card-unit-information layout-padding></card-unit-information>
				<!-- FORMULARIO DE REGISTRO -->
				<div class="card card-outline card-success no-margin margin-top" layout-padding>
					<div class="card-header text-center">
					  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
					</div>
					<div class="card-body padding-all" layout=column layout-padding>
						<div class="form-group required" flex>
			    		<label translate>{{frmParent.administrative.puesto_definicion}}</label>
						  <div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=person></md-ico></div></div> 
								<input class="form-control" ng-model="frmParent.administrative.personal_nombre" readonly="readonly" />
							</div>
			    	</div>
						<div class="form-group required" flex>
			    		<label translate>{{frmParent.professional.puesto_definicion}}</label>
						  <div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=how_to_reg></md-ico></div></div> 
								<input class="form-control" ng-model="frmParent.professional.personal_nombre" readonly="readonly" />
							</div>
			    	</div>
						<div class="form-group required" flex>
			    		<label translate>LB_CHARGE_RESPONSIBLE</label>
						  <div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=how_to_reg></md-ico></div></div> 
								<select class="form-control" ng-model="frmParent.tecnico_puesto" required ng-options="val as val for (key,val) in string2JSON('WORK_ORDER_RESPONSABLE_CARGO')"></select>
							</div>
			    	</div>
			    	<div class="form-group required" flex ng-controller="stationsListCtrl">
							<label translate>LB_STATION</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=assistant_photo></md-ico></div></div> 
								<select class="form-control" ng-model="frmParent.fk_estacion_id" required ng-options="row.estacion_id as (row.estacion_nombre+' - '+row.estacion_nombre_alterno) for row in list"></select>
							</div>
						</div>
			    	
						<div class="form-group required" ng-controller="driversListCtrl" ng-if="frmParent.orden_estado=='VALIDADA'">
							<label translate>LB_OPERATOR</label>
							<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=person></md-ico></div></div> 
					      <ui-select ng-model="frmParent.operador_id" reset-search-input="false" required>
				         	<ui-select-match class="required" placeholder="{{getPlaceholder(frmParent.conductor,'Seleccione el operador')  | translate}}">
										{{$select.selected.personal_nombre}}
				         	</ui-select-match>
									<ui-select-choices class="list-personal" repeat="item.conductor_id as item in FKList | filter: { conductor: $select.search }">
										<img src="/app/src/img/users/default.png" style="width:48px;height:48px;padding:3px" class="img-circle" alt="img" />
										<div flex>
											<div ng-bind-html="item.conductor | highlight: $select.search"></div>
											<small ng-bind-html="'Tipo de licencia.: '+item.licencia_categoria+' ('+item.licencia_tipo+')'"></small><br>
											<small translate>LB_STATUS</small> <label class="label" ng-class="[{'label-success':item.conductor_estado=='VIGENTE','label-danger':item.conductor_estado=='CADUCADA'}]">{{item.conductor_estado}}</label>
										</div>
									</ui-select-choices>
					      </ui-select>
					    </div>
						</div>
			    	<div layout-xs=column layout=row layout-padding>
							<div class="form-group required" flex>
				    		<label translate>LB_ORDER_NUMBER</label>
							  <div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><i-fa i=tachometer></md-ico></div></div> 
									<input type="number" step=1 min=0 parse-float class="form-control" ng-model="frmParent.orden_serie" required ng-disabled="toogleEditMode" />
								</div>
				    	</div>
				    	<div class="form-group required" flex>
								<label translate>LB_STATUS</label>
								<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
									<select class="form-control" ng-model="frmParent.orden_estado" required 
													ng-options="val as val for (key,val) in string2JSON('WORK_ORDER_STATUS')"></select>
								</div>
							</div>
						</div>
						<div class="form-group required">
			    		<label translate>LB_TYPE_JOB</label>
						  <div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
								<select class="form-control" ng-model="frmParent.orden_tipo" required ng-options="val as val for (key,val) in string2JSON('WORK_ORDER_TYPE')"></select>
							</div>
			    	</div>
						<div class="form-group required">
			    		<label translate>LB_DESTINATION</label>
						  <div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=location_on></md-ico></div></div> 
									<input class="form-control" ng-model="frmParent.orden_destino" placeholder="Ej. Estación 2" required />
							</div>
			    	</div>
			    	
			    	<div layout-xs=column layout=row layout-padding>
				    	<div class="form-group required" flex>
				    		<label translate>LB_DATE_ISSUE</label>
							  <div class="input-group" moment-picker="frmParent.orden_fecha_emision">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
									<input class="form-control" ng-model="frmParent.orden_fecha_emision" placeholder="Ej. 2006-06-06" required>
								</div>
				    	</div>
				    	<div class="form-group required" flex>
				    		<label translate>LB_VALID_UNTIL</label>
							  <div class="input-group" min-date="frmParent.orden_fecha_emision" moment-picker="frmParent.orden_fecha_validez" format="YYYY-MM-DD">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_busy></md-ico></div></div> 
									<input class="form-control" ng-model="frmParent.orden_fecha_validez" ng-model-options="{ updateOn: 'blur' }" ng-model-options="{ updateOn: 'blur' }" placeholder="Ej. 2006-06-06" required>
								</div>
				    	</div>
			    	</div>
			    	
						<div class="form-group">
							<label translate>LB_OBSERVATION</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=comment></md-ico></div></div>
								<textarea class="form-control" ng-model="frmParent.orden_observaciones" placeholder="Ej. Detallar información"></textarea>
							</div>
						</div>
					</div>
				</div>
		</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>