<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog" ng-controller="minorMaintenanceExtendsCtrl">
  <form name="formData" ng-submit="submitForm()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=engineering></md-ico></md-button>
			<h2 translate>LB_TOOL_MAINTENANCE</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-content layout=column layout-padding>
					
			    	<!-- FORMULARIO DE REGISTRO -->
						<div class="card card-outline card-primary no-padding no-margin">
							<div class="card-header text-center">
							  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
							</div>
							<div class="card-body" layout=column layout-padding>
									
									<div layout-xs=column layout=row layout-padding>
										<div class="form-group required" flex>
							    		<label translate>LB_ORDER_NUMBER</label>
										  <div class="input-group">
												<div class="input-group-prepend"><div class="input-group-text"><i-fa i=hashtag></i-fa></div></div> 
												<input type="number" step=1 min=0 parse-float class="form-control" ng-model="frmParent.mantenimiento_serie" required />
											</div>
							    	</div>
										<div class="form-group required" flex ng-if="toogleEditMode">
							    		<label translate>LB_ORDER_NUMBER</label>
										  <div class="input-group">
												<div class="input-group-prepend"><div class="input-group-text"><i-fa i=hashtag></i-fa></div></div> 
												<input type="number" step=1 min=0 parse-float class="form-control" ng-model="frmParent.mantenimiento_codigo" required />
											</div>
							    	</div>
							    </div>
						    	
									<div class="form-group required" flex ng-controller="staffActiveListCtrl">
						    		<label translate>LB_RESPONSIBLE_FOR_REGISTRATION</label>
									  <div class="input-group">
											<div class="input-group-prepend"><div class="input-group-text"><md-ico i=how_to_reg></md-ico></div></div> 
											<select class="form-control" ng-model="frmParent.tecnico_servicios" required ng-options="row.personal_id as (row.person.persona_apellidos+' '+row.person.persona_nombres) for row in jsonList"></select>
										</div>
						    	</div>
									<div class="form-group required" flex>
						    		<label translate>LB_CHARGE_RESPONSIBLE</label>
									  <div class="input-group">
											<div class="input-group-prepend"><div class="input-group-text"><md-ico i=how_to_reg></md-ico></div></div> 
											<input class="form-control" ng-model="frmParent.tecnico_puesto" required/>
										</div>
						    	</div>
							    
									<div class="form-group required" flex>
										<label translate>LB_RESPONSIBLE_GARAGE</label>
										<div class="input-group">
											<div class="input-group-prepend"><div class="input-group-text"><md-ico i=departure_board></md-ico></div></div> 
											<input class="form-control" ng-model="frmParent.mantenimiento_taller" placeholder="Ej. Taller Juanito" required>
										</div>
									</div>
									
									<div layout-xs=column layout=row layout-padding>
										<div class="form-group required" flex>
											<label translate>LB_MAINTENANCE_DATE</label>
											<div class="input-group" max-date="today" start-view="day" format="YYYY-MM-DD" moment-picker="frmParent.mantenimiento_fecha_mantenimiento">
												<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div> 
												<input class="form-control" ng-model="frmParent.mantenimiento_fecha_mantenimiento" ng-model-options="{ updateOn: 'blur' }" placeholder="Ej. 2006-06-06" required>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label translate>LB_DESCRIPTION</label>
										<div class="input-group">
											<div class="input-group-prepend"><div class="input-group-text"><md-ico i=list></md-ico></div></div>
											<textarea rows="4" class="form-control" ng-model="frmParent.mantenimiento_descripcion" placeholder="Ej. Detallar información"></textarea>
										</div>
									</div>
								
							</div>
						</div>
					
			</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>