<md-card ng-cloak ng-controller="dataTableNodeCtrl">
	<md-toolbar  ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=photo_filter></md-ico></md-button>
			<h2 class="md-flex" translate>MENU_TYPES_CONTRACTS</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()"><md-ico i=search></md-ico></md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()"><md-ico i=refresh></md-ico></md-button>
		</div>
	</md-toolbar>
	<datatable-toolbar></datatable-toolbar>
	<md-divider></md-divider>
	
	<md-table-container>
		<table md-table class="md-primary table-hover" md-progress="deferred">
      <col style="">
     	<col style="width:20%">
     	<col style="width:3%">
			<thead md-head md-order="filterParent.sortData" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_CONTRACT_TYPE</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
			</thead>
			<tbody>
				<tr md-row data-ng-repeat="row in rowsParent.rows">
					<td md-cell class="text-uppercase">
						<md-ico i=photo_filter></md-ico><span ng-bind-html="highlight(row.tcontrato_nombre)"></span><br>
						<md-ico i=info></md-ico><span ng-bind-html="highlight(row.tcontrato_detalle)"></span>
					</td>
					<td md-cell class="text-uppercase">
						<md-ico i=flag></md-ico> <span ng-bind-html="statusLabel[row.tcontrato_estado]"></span><br>
						<md-ico i=event></md-ico> <span ng-bind-html="highlight(row.tcontrato_registro)"></span><br>
					</td>
					<td md-cell class="table-menu text-center">
						<menu-mini></menu-mini>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<datatable-footer></datatable-footer>
</md-card>