<md-dialog aria-label="Dialog" class="modal-dialog">
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=playlist_add_check></md-ico></md-button>
			<h2 class="md-flex" translate>LB_PSYCHOSOCIAL_RISK_ASSESSMENT</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
			
			<div class="form-group required" flex ng-controller="formPsychosocialListCtrl">
				<label translate>LB_FORM_TYPE</label>
			  <div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=info></md-ico></div></div> 
					<select class="form-control" ng-model="frmParent.fk_formulario_id" ng-options="row.formulario_id as row.formulario_nombre for row in jsonList" required></select>
				</div>
			</div>
			
			<div layout-xs=column layout=row layout-padding>
				<div class="form-group required" flex>
					<label translate>LB_OPENING_DATE</label>
					<div class="input-group" min-date="today" moment-picker="frmParent.evaluacion_inicio" format="YYYY-MM-DD">
						<div class="input-group-prepend"><div class="input-group-text"><i-fa i=calendar-check-o></md-ico></div></div> 
				    <input class="form-control" ng-model="frmParent.evaluacion_inicio" placeholder="Ej. 2006-06-06" required>
					</div>
				</div>
				<div class="form-group required" flex>
					<label translate>LB_DEADLINE</label>
					<div class="input-group" min-date="frmParent.evaluacion_inicio" moment-picker="frmParent.evaluacion_cierre" format="YYYY-MM-DD">
						<div class="input-group-prepend"><div class="input-group-text"><i-fa i=calendar-times-o></md-ico></div></div> 
				    <input class="form-control" ng-model="frmParent.evaluacion_cierre" placeholder="Ej. 2006-06-06" required>
					</div>
				</div>
			</div>
			
			<div class="form-group required" ng-if="toogleEditMode">
				<label translate>LB_STATUS</label>
				<div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
					<select class="form-control" ng-model="frmParent.evaluacion_estado" ng-options="val as val for (key,val) in string2JSON('MAIN_STATUS_SINGLE')"></select>
				</div>
			</div>
			
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>