<md-card ng-cloak ng-controller="myTableCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=transfer_within_a_station></md-ico></md-button>
			<h2 class="md-flex" translate>LB_DAILY_ACTIVITIES</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()">
				<md-ico i=search></md-ico><md-tooltip><span translate>LB_SEARCH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="exportData({})">
				<md-ico i=save_alt></md-ico><md-tooltip><span translate>LB_EXPORT</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<toolbar-filter></toolbar-filter>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
     	<col style="width:20%">
      <col style="">
     	<col style="width:15%">
     	<col style="width:3%">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_DATE</span></th>
					<th md-column><span translate>LB_DESIGNATED_ACTIVITY</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.data">
					<td md-cell>
						<div><md-ico i=person_outline></md-ico><span ng-bind-html="highlight(row.personal_nombre)"></span><md-tooltip><span translate>LB_STAFF</span></md-tooltip></div>
						<div><md-ico i=event></md-ico><span ng-bind-html="highlight(row.actividad_fecha_inicio)"></span><md-tooltip><span translate>LB_START_TIME</span></md-tooltip></div>
						<div ng-if="row.actividad_estado=='FINALIZADA'">
							<div><md-ico i=event_available></md-ico><span ng-bind-html="highlight(row.actividad_fecha_finalizacion)"></span><md-tooltip><span translate>LB_ENDING_TIME</span></md-tooltip></div>
							<div><md-ico i=schedule></md-ico><span ng-bind-html="highlight(row.tiempo)"></span><md-tooltip><span translate>LB_AVERAGE_TIME</span></md-tooltip></div>
						</div>
					</td>
					<td md-cell>
						<div><md-ico i=person></md-ico><span ng-bind-html="highlight(row.requiriente)"></span><md-tooltip><span translate>LB_REQUIRED_BY</span></md-tooltip></div>
						<div><md-ico i=transfer_within_a_station></md-ico><span ng-bind-html="highlight(row.actividad_actividad)"></span><md-tooltip><span translate>LB_DESIGNATED_ACTIVITY</span></md-tooltip></div>
						<md-ico i=info></md-ico><span ng-bind-html="highlight(row.actividad_descripcion)"></span>
					</td>
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.actividad_estado]"></span><br>
						<md-ico i=event></md-ico><span ng-bind-html="highlight(row.actividad_registro)"></span>
					</td>
					<td md-cell>
						<menu-daily-activities ng-if="allow.permiso804072 || allow.permiso804073"></menu-daily-activities>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	<footer-table></footer-table>
</md-card>