<div class="no-padding" layout-padding>
	<form name="formData" ng-submit="exportReport()">
		<md-toolbar ng-hide="filter.show">
			<div class="md-toolbar-tools">
				<md-button aria-label="btn" class="md-icon-button"><md-ico i=print></md-ico></md-button>
				<h2 translate>TOOLBAR_REPORTS</h2>
				<span flex></span>
				<md-button aria-label="btn" class="md-icon-button" type="submit"><md-ico i=send></md-ico><md-tooltip><span translate>LB_VALIDATE</span></md-tooltip></md-button>
			</div>
		</md-toolbar>
		<md-content layout-xs=column layout=row layout-padding>
				
				<!-- SELECCIONAR EL LISTADO DE MÓDULOS -->
	    	<div class="card card-outline card-success no-margin" layout-padding flex>
					<div class="card-header text-center">
					  <h3 class="card-title" translate>LB_CHOOSE_MODULE</h3>
					</div>
					<div class="card-body" style="padding:8px" layout=column layout-padding>
			    	<div class="form-group required" flex>
							<label translate>LB_REPORTS_MODULE</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=extension></md-ico></div></div> 
								<select class="form-control" ng-model="moduloId" ng-options="row.modulo_id as row.modulo_nombre for row in exports.modules"></select>
							</div>
						</div>
						<div class="form-group required" ng-if="moduloId>0" flex>
							<label translate>LB_REPORTS_ENTITY</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=settings></md-ico></div></div> 
								<select ng-model="frmParent.entity" class="form-control text-uppercase" required ng-options="val as exports.entities[val].title for (key,val) in exports.tables[moduloId]"></select>
							</div>
						</div>
						<div class="form-group required" ng-if="frmParent.entity!=''" flex>
							<label translate>LB_ORDER_BY</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><i-fa i=random></md-ico></div></div> 
								<select ng-model="frmParent.orderBy" class="form-control" required ng-options="key as val for (key,val) in exports.entities[frmParent.entity].order"></select>
							</div>
						</div>
						<div class="form-group required">
							<label translate>LB_ARRANGE</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><i-fa i="{{frmParent.orderType=='asc'?'sort-alpha-asc':'sort-alpha-desc'}}"></md-ico></div></div> 
								<select ng-model="frmParent.orderType" class="form-control" required ng-options="key as val for (key,val) in string2JSON('orderExportType')"></select>
							</div>
						</div>
					</div>
				</div>
		
				<!-- SELECCIONAR EL LISTADO DE MÓDULOS -->
	    	<div class="card card-outline card-warning no-margin" layout-padding flex>
					<div class="card-header text-center">
					  <h3 class="card-title" translate>LB_REPORTS_FILTER</h3>
					</div>
					<div class="card-body" style="padding:8px" layout=column layout-padding>
						<div layout-xs=column layout=row layout-padding>
							<div class="form-group required" flex>
								<label translate>LB_OPENING_DATE</label>
								<div class="input-group" moment-picker="frmParent.date1" format="YYYY-MM-DD">
									<div class="input-group-prepend"><div class="input-group-text"><i-fa i=calendar-check-o></md-ico></div></div> 
							    <input class="form-control" ng-model="frmParent.date1" ng-model-options="{ updateOn: 'blur' }" placeholder="Ej. 2006-06-06" required>
								</div>
							</div>
							<div class="form-group required" flex>
								<label translate>LB_ENDING_DATE</label>
								<div class="input-group" moment-picker="frmParent.date2" format="YYYY-MM-DD">
									<div class="input-group-prepend"><div class="input-group-text"><i-fa i=calendar-check-o></md-ico></div></div> 
							    <input class="form-control" ng-model="frmParent.date2" ng-model-options="{ updateOn: 'blur' }" placeholder="Ej. 2006-06-06" required>
								</div>
							</div>
						</div>
						<div layout-xs=column layout=row layout-padding>
							<div class="form-group required" flex>
								<label translate="LB_LIMIT" translate-values="{value:frmParent.limit}"></label>
								<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=list></md-ico></div></div> 
									<input type="number" ng-model="frmParent.limit" class="form-control" required />
								</div>
							</div>
							<div class="form-group required" flex>
								<label translate>LB_TYPE</label>
								<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><i-fa i="{{frmParent.type=='pdf'?'file-pdf-o':'file-excel-o'}}"></md-ico></div></div> 
									<select ng-model="frmParent.type" class="form-control" required  ng-options="key as val for (key,val) in string2JSON('exportType')"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		</md-content>
	</form>
</div>