<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog">
  <form name="formData">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=account_balance></md-ico></md-button>
			<h2 class="md-flex" translate>TOOLBAR_TRAINING_ROOM</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
			
			<!-- FORMULARIO DE REGISTRO -->
			<div class="card card-outline card-warning no-padding no-margin">
				<div class="card-header text-center">
				  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
				</div>
				<div class="card-body" layout=column layout-padding>
				
					<div class="form-group required" ng-controller="staffListCtrl">
						<label translate>LB_REQUIRED_BY</label>
						<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=person></md-ico></div></div> 
					      <ui-select class="form-control" ng-model="frmParent.fk_solicitante_id" reset-search-input="false" required>
				         	<ui-select-match class="required" placeholder="{{getPlaceholder(frmParent.solicitante,'Seleccione el solicitante')  | translate}}">
										{{$select.selected.personal_nombre}}
				         	</ui-select-match>
									<ui-select-choices class="list-personal" repeat="item.ppersonal_id as item in FKList | filter: { personal_nombre: $select.search }">
										<img src="/app/src/img/users/default.png" style="width:48px;height:48px;padding:3px" class="img-circle" alt="img" />
										<div flex>
											<div ng-bind-html="item.personal_nombre | highlight: $select.search"></div>
											<small ng-bind-html="'Dirección: '+item.direccion_nombre"></small><br>
											<small ng-bind-html="'Cargo.: '+item.puesto_nombre"></small>
										</div>
									</ui-select-choices>
					      </ui-select>
					    </div>
					</div>
		    	
		    	<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_FROM_TIME</label>
						  <div class="input-group" moment-picker="frmParent.reservacion_fecha_inicio" format="YYYY-MM-DD HH:mm" min-date="frmParent.minDate">
						    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div> 
						    <input class="form-control" ng-model="frmParent.reservacion_fecha_inicio" ng-model-options="{ updateOn: 'blur' }" placeholder="Ej. 2017-07-07" required >
						  </div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_UNTIL_TIME</label>
							<div class="input-group" min-date="frmParent.reservacion_fecha_inicio" moment-picker="frmParent.reservacion_fecha_cierre" format="YYYY-MM-DD HH:mm">
								<div class="input-group-prepend"><div class="input-group-text"><i-fa i=calendar-times-o></md-ico></div></div> 
						    <input class="form-control" ng-model="frmParent.reservacion_fecha_cierre" placeholder="Ej. 2006-06-06" required>
							</div>
						</div>
		    	</div>
					
					<div class="form-group required">
						<label translate>LB_REASON</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=info></md-ico></div></div> 
							<textarea rows="5" ng-model="frmParent.reservacion_motivo" class="form-control" required></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label translate>LB_REQUIREMENTS</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=list_alt></md-ico></div></div> 
							<textarea rows="5" ng-model="frmParent.reservacion_requerimientos" class="form-control"></textarea>
						</div>
					</div>
				
				</div>
			</div>
			
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="button" ng-click="submitForm()" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>