<div class="card card-outline card-primary no-margin">
	<div class="card-body box-profile text-center">
		<md-ico i=style s=64></md-ico>
		<h3 class="profile-username md-padding">{{entity.parte_codigo}}</h3>
    <hr>
		<strong><md-ico i=event s=18></md-ico> <span translate>LB_DATE</span></strong>
		<p class="text-muted text-center">{{entity.parte_fecha}}</p>
    <hr>
		<strong><md-ico i=assistant_photo s=18></md-ico> <span translate>LB_STATION</span></strong>
		<p class="text-muted text-center">{{entity.estacion_nombre}}</p>
		<hr>
		<strong><md-ico i=flag s=18></md-ico> <span translate>LB_TYPE_PART</span></strong>
		<p class="text-muted text-center">{{entity.parte_tipo}}</p>
		<hr>
		<strong><md-ico i=public s=18></md-ico> <span translate>LB_PARISH</span></strong>
		<p class="text-muted text-center">{{entity.parish_name}}</p>
		<hr>
		<strong><md-ico i=directions s=18></md-ico> <span translate>LB_ADDRESS</span></strong>
		<p class="text-muted text-center">{{entity.parte_direccion}}</p>
	</div>
</div>