<div class="card card-outline card-primary no-margin">
	<div class="card-body box-profile text-center">
		<md-ico i=assignment s=64></md-ico><br>
		<p class="text-muted">{{dataEntity.formulario_registro}}</p>
		<hr>
		<strong><md-ico i=group s=18></md-ico> <span translate>LB_AFORO</span></strong>
		<p class="text-muted">{{dataEntity.maximo_aforo}}</p>
		<hr>
		<strong><md-ico i=aspect_ratio s=18></md-ico> <span translate>LB_AREA</span></strong>
		<p class="text-muted">{{dataEntity.maximo_area}}</p>
		<hr>
		<strong><md-ico i=business s=18></md-ico> <span translate>LB_FLOORS</span></strong>
		<p class="text-muted">{{dataEntity.maximo_pisos}}</p>
	</div>
</div>