<div class="card card-outline card-primary">
  <div class="card-body box-profile text-center">
    <div class="container-profile small">
    	<img src="/app/src/img/users/default.png" ng-src="{{setting.uri.img}}users/{{dataEntity.persona_imagen}}" alt="profile">
    </div>
		<h3 class="profile-username">{{dataEntity.persona_apellidos}} {{dataEntity.persona_nombres}}</h3>
		<p class="text-muted text-center">{{dataEntity.persona_fingreso}}</p>
    <hr>
		<strong><md-ico i=star_half s=18></md-ico> <span translate>LB_PROFILE</span></strong>
    <p class="text-muted">{{dataEntity.perfil_nombre}}</p>
    <hr>
		<strong><md-ico i=person s=18></md-ico> <span translate>LB_USER</span></strong>
    <p class="text-muted">{{dataEntity.usuario_login}}</p>
    <hr>
		<strong><md-ico i=flag s=18></md-ico> <span translate>LB_STATUS</span></strong>
    <p class="text-muted" ng-bind-html="statusLabel[dataEntity.usuario_estado]"></p>
    <hr>
		<strong><md-ico i=place s=18></md-ico> <span translate>LB_ADDRESS</span></strong>
    <p class="text-muted">{{dataEntity.persona_ciudad}} {{dataEntity.persona_direccion}}</p>
    <hr>
		<strong><md-ico i=credit_card s=18></md-ico> <span translate>LB_DOC_IDENTIFICATION</span></strong>
    <p class="text-muted">{{string2JSON('identificationType')[dataEntity.persona_tipo_doc]}} / {{dataEntity.persona_doc_identidad}}</p>
    <hr>
    <strong><md-ico i=mail s=18></md-ico> <span translate>LB_MAIL</span></strong>
    <p class="text-muted">{{dataEntity.persona_correo}}</p>
    <hr>
    <strong><md-ico i=phone s=18></md-ico> <span translate>LB_TEL</span></strong>
    <p class="text-muted">{{dataEntity.persona_telefono}}</p>
  </div>
  <div class="card-footer">
    <a ng-click="$parent.openModal(tbParent,mergeData(dataEntity,{option:'profile'}))" class="btn btn-primary btn-block">
    	<md-ico i=edit s=18></md-ico>
    	<b translate>LB_EDIT</b>
    </a>
    <a ui-sref="admin.users.detailPersons({id:dataEntity.persona_id})" class="btn btn-info btn-block">
    	<md-ico i=account_box s=18></md-ico>
    	<b translate>LB_PERSONAL_INFORMATION</b>
    </a>
  </div>
</div>