<div flex class="card card-outline card-danger no-margin text-center card-entity-information">
  <div class="card-header with-border">
    <h3 class="card-title">{{frmParent.codigo_per}}</h3>
  </div>
  <div class="card-body row">
    <div class="col-md-4">
    	<p><img src="/app/src/img/entities/default.png" style="width:128px;margin:auto" class="img-responsive"/></p>
    </div>
    <div class="col-md-8 text-left">
    	<p><md-ico i=event></md-ico> <span class="text-bold" translate>LB_DATE_ISSUE</span>: {{frmParent.permiso_fecha}}</p>
    	<p><md-ico i=assignment_turned_in></md-ico> <span class="text-bold" translate>LB_PERMIT_NUMBER</span>: {{frmParent.permiso_numero}}</p>
    	<p><md-ico i=confirmation_number></md-ico> <span class="text-bold" translate>LB_REQUEST_NUMBER</span>: {{frmParent.numero_solicitud}}</p>
    	<p><md-ico i=person></md-ico> <span class="text-bold" translate>LB_USER</span>: {{frmParent.usuario}}</p>
    	<hr>
    	<p><md-ico i={{frmParent.entidad_contribuyente=='natural'?'person':'business'}}></md-ico> <b translate>LB_TRADENAME</b>: {{frmParent.entidad_razonsocial}}</p>
    	<p><md-ico i=credit_card></md-ico> <b translate>LB_RUC</b>: {{frmParent.entidad_ruc}}</p>
    	<p><md-ico i=account_balance></md-ico> <b translate>LB_TAXPAYER_TYPE</b>: {{string2JSON('contribuyenteType')[frmParent.entidad_contribuyente]}}</p>
    	<p><md-ico i=person></md-ico> <b translate>LB_AGENT</b>: {{frmParent.representantelegal_nombre}}</p>
    	<p><md-ico i=credit_card></md-ico> <b translate>LB_IDENTIFICATION_NUMBER</b>: {{frmParent.representantelegal_ruc}}</p>
    	<hr>
    	<p><md-ico i=store_mall_directory></md-ico> <b translate>LB_COMERTIAL</b>: {{frmParent.local_nombrecomercial}}</p>
    	<p><md-ico i=public></md-ico> <b translate>LB_PARISH</b>: {{frmParent.local_parroquia}}</p>
    	<p><md-ico i=directions></md-ico> <b translate>LB_ADDRESS</b>: {{frmParent.local_principal}}, {{frmParent.local_secundaria}}</p>
			<p><md-ico i=place></md-ico> <b translate>LB_REFERENCE</b>: {{frmParent.local_referencia}}</p>
			<p><md-ico i=phone></md-ico> <b translate>LB_TEL</b>: {{frmParent.local_telefono}}</p>
    </div>
  </div>
</div>