<div flex class="card card-outline card-danger no-margin text-center card-entity-information">
  <div class="card-header with-border">
    <h3 class="card-title">{{frmParent.reporte_nombre}}</h3>
  </div>
  <div class="card-body row">
    <div class="col-md-3">
    	<p><img src="/app/src/img/src/default.png" style="width:128px;margin:auto" class="img-responsive"/></p>
    </div>
    <div class="col-md-9 text-left">
    	<p><md-ico i=print></md-ico> <b translate>LB_REPORTS</b>: {{frmParent.reporte_nombre}}</p>
    	<p><md-ico i=star></md-ico> <b translate>LB_LEADERSHIP</b>: {{frmParent.reporte_jefatura}}</p>
    	<p><md-ico i=star_half></md-ico> <b translate>LB_DEPARTAMENTS</b>: {{frmParent.reporte_departamento}}</p>
    	<p><md-ico i=star_border></md-ico> <b translate>LB_CHARGE_RESPONSIBLE</b>: {{frmParent.responsable_cargo}}</p>
    	<p><md-ico i=person></md-ico> <b translate>LB_RESPONSABLE</b>: {{frmParent.responsable_nombre}}</p>
    </div>
  </div>
</div>