<div class="card card-outline card-primary">
	<div class="card-body box-profile text-center">
		<md-ico i=import_contacts s=64></md-ico><br>
		<h3 class="profile-username">{{dataEntity.actividad_codigo}}</h3>
		<p class="text-muted text-center">{{dataEntity.actividad_registro}}</p>
		<hr>
		<strong><md-ico i=import_contacts s=18></md-ico> <span translate>LB_ACTIVITY</span></strong>
		<p class="text-muted">{{dataEntity.actividad_nombre}}</p>
		<hr>
		<strong><md-ico i=comment s=18></md-ico> <span translate>LB_DESCRIPTION</span></strong>
		<p class="text-muted">{{dataEntity.actividad_descripcion}}</p>
	</div>
</div>