<div class="card card-outline card-primary no-padding no-margin" flex>
	<div class="card-header text-center">
	  <h3 class="card-title" translate>LB_PERSONAL_INFORMATION</h3>
	</div>
	<div class="card-body" layout=column layout-padding>
		<div layout-xs=column layout=row layout-padding>
			<div class="form-group required" flex>
				<label translate>LB_IDENTIFICATION_TYPE</label>
				<div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=account_balance_wallet></md-ico></div></div> 
					<select class="form-control select2" ng-model="frmParent.persona_tipo_doc" required
									ng-options="key as val for (key,val) in string2JSON('identificationType')"></select>
				</div>
			</div>
			<div class="form-group required" flex>
				<label translate>LB_IDENTIFICATION_NUMBER</label>
				<div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=credit_card></md-ico></div></div> 
					<input ng-model="frmParent.persona_doc_identidad" class="form-control" placeholder="Ej. 1236587490" required maxlength="20">
				</div>
			</div>
		</div>
		<div layout-xs=column layout=row layout-padding>
			<div class="form-group required" flex>
				<label translate>LB_LASTNAME</label>
				<div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=person></md-ico></div></div> 
					<input ng-model="frmParent.persona_apellidos" class="form-control" placeholder="Ej. Tipan Jaramillo" required>
				</div>
			</div>
			<div class="form-group required" flex>
				<label translate>LB_NAME</label>
				<div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=person_outline></md-ico></div></div> 
			    <input ng-model="frmParent.persona_nombres" class="form-control" placeholder="Ej. Julio Arnoldo" required>
				</div>
			</div>
		</div>
		<div layout-xs=column layout=row layout-padding>
			<div class="form-group required" flex>
				<label translate>LB_SEX</label>
				<div class="input-group">
			    <div class="input-group-prepend"><div class="input-group-text"><i-fa i="{{string2JSON('iFaIconList')[frmParent.persona_sexo]}}"></md-ico></div></div> 
			    <select class="form-control" ng-model="frmParent.persona_sexo" required
									ng-options="val as val for (key,val) in string2JSON('sexPersonsList')"></select>
			  </div>
			</div>
			<div class=form-group flex>
				<label translate>LB_MARITAL_STATUS</label>
				<div class="input-group">
			    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=favorite_border></md-ico></div></div> 
			    <select class="form-control" ng-model="frmParent.persona_estadocivil"
										ng-options="val as val for (key,val) in string2JSON('maritalStatusList')[frmParent.persona_sexo]"></select>
			  </div>
			</div>
		</div>
		<div layout-xs=column layout=row layout-padding>
			<div class=form-group flex>
				<label translate>LB_BLOOD_TYPE</label>
				<div class="input-group">
			    <div class="input-group-prepend"><div class="input-group-text"><i-fa i=medkit></md-ico></div></div> 
			    <select class="form-control" ng-model="frmParent.persona_tiposangre"
										ng-options="val as val for (key,val) in string2JSON('bloodTypeList')"></select>
			  </div>
			</div>
			<div class=form-group flex>
				<label translate>LB_BIRTHDATE</label>
				<div class="input-group" moment-picker="frmParent.persona_fnacimiento" format="YYYY-MM-DD">
			    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div> 
			    <input class="form-control" ng-model="frmParent.persona_fnacimiento" ng-model-options="{ updateOn: 'blur' }" placeholder="Ej. 2006-06-06" />
			  </div>
			</div>
		</div>
		<div class=form-group flex>
			<label translate>LB_BIRTHPLACE</label>
			<div class="input-group">
		    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=person_pin_circle></md-ico></div></div> 
		    <input class="form-control" ng-model="frmParent.persona_nacionalidad" placeholder="Ej. Santo Domingo - Ecuador" />
		  </div>
		</div>
		<div layout-xs=column layout=row layout-padding>
			<div class=form-group flex>
				<label translate>LB_TEL</label>
				<div class="input-group">
			    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=phone></md-ico></div></div> 
			    <input type="tel" ng-model="frmParent.persona_telefono" class="form-control" placeholder="Ej. 023741213">
			  </div>
			</div>
			<div class=form-group flex>
				<label translate>LB_MOBILE</label>
				<div class="input-group">
			    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=phone_iphone></md-ico></div></div> 
			    <input type="tel" ng-model="frmParent.persona_celular" class="form-control" placeholder="Ej. 0985214763">
			  </div>
			</div>
		</div>
		<div class="form-group required" flex>
			<label translate>LB_MAIL</label>
			<div class="input-group">
				<div class="input-group-prepend"><div class="input-group-text"><md-ico i=mail></md-ico></div></div> 
				<input type="email" ng-model="frmParent.persona_correo" class="form-control" placeholder="Ej. correo@live.com">
			</div>
		</div>
	</div>
</div>