<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog">
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=chrome_reader_mode></md-ico></md-button>
			<h2 class="md-flex" translate>LB_FORMS_FOR_EVALUATION</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
			
			<!-- FORMULARIO DE USUARIO -->
			<div class="card card-outline card-primary no-padding no-margin">
				<div class="card-header text-center">
				  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
				</div>
				<div class="card-body" layout=column layout-padding>
			
					<div class="form-group required" flex>
						<label translate>LB_DEFINE_FORM_NAME</label>
					  <div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=info></md-ico></div></div> 
							<input ng-model="frmParent.formulario_nombre" class="form-control" required />
						</div>
					</div>
			
					<div class="form-group required" ng-if="toogleEditMode">
						<label translate>LB_STATUS</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
							<select class="form-control" ng-model="frmParent.formulario_estado" ng-options="val as val for (key,val) in string2JSON('MAIN_STATUS_SINGLE')"></select>
						</div>
					</div>
					
				</div>
			</div>
			
		</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>