<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog">
  <form name="formData" ng-submit="submitRequested()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=healing></md-ico></md-button>
			<h2 translate>TOOLBAR_PREHOSPITAL_MATERIALS</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding layout=column>
    	
    	<!-- FORMULARIO DE REGISTRO -->
			<div class="card card-outline card-primary no-margin" layout-padding>
				<div class="card-header with-border text-center">
				  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
				</div>
				<div class="card-body padding-all" layout=column layout-padding>
				
		    	<div class="form-group required" flex>
						<label translate>LB_CODE</label>
					  <div class="input-group">
					    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=fingerprint></md-ico></div></div> 
					    <input class="form-control" ng-model="frmParent.insumo_codigo" placeholder="Ej. MED101" required >
					  </div>
					</div>
					
					<div layout-xs=column layout=row layout-padding>
			    	<div class="form-group required" flex>
							<label translate>LB_PRESENTATION</label>
						  <div class="input-group">
						    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
						    <select class="form-control" ng-model="frmParent.insumo_presentacion" ng-options="val as val for (key,val) in string2JSON('MEDICAL_MEDICINE_PRESENTATION')" required></select>
						  </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>LB_APH_CONCENTRATION</label>
						  <div class="input-group">
						    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=opacity></md-ico></div></div> 
						    <input class="form-control" ng-model="frmParent.insumo_concentracion" placeholder="Ej. MED101" required >
						  </div>
						</div>
					</div>
					
		    	<div class="form-group required">
						<label translate>LB_INPUT_APH_NAME</label>
					  <div class="input-group">
					    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=healing></md-ico></div></div> 
					    <input class="form-control" ng-model="frmParent.insumo_nombre" placeholder="Ej. Paracetamol" required >
					  </div>
					</div>
				
				</div>
			</div>
    	
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>