<div flex class="box box-danger text-center no-margin">
  <div class="box-header with-border">
    <h3 class="box-title">{{frmParent.capacitacion_codigo}}</h3>
  </div>
  <div class="box-body row">
    <div class="col-md-4">
    	<i-fa i=street-view s=5x></i-fa>
    </div>
    <div class="col-md-8 text-left">
    	<br><span><i-fa c=fw i=calendar-check-o></i-fa> <span class="text-bold" translate>LB_DATE</span>: {{frmParent.capacitacion_fecha}}</span>
    	<br><span><i-fa c=fw i=book></i-fa> <span class="text-bold" translate>LB_TOPIC</span>: {{frmParent.tema_nombre}}</span>
    	<br><span><i-fa c=fw i=user-o></i-fa> <span class="text-bold" translate>LB_COORDINATOR</span>: {{frmParent.persona_apellidos}} {{frmParent.persona_nombres}}</span>
    	<br><span><i-fa c=fw i=phone></i-fa> <span class="text-bold" translate>LB_TEL</span>: {{frmParent.persona_telefono}}</span>
    	<br><span><i-fa c=fw i=envelope></i-fa> <span class="text-bold" translate>LB_MAIL</span>: {{frmParent.persona_correo}}</span>
    </div>
  </div>
</div>