<md-dialog aria-label="Dialog" class="modal-dialog">
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=extension></md-ico></md-button>
			<h2 class="md-flex" translate>TOOLBAR_SUBMODULES</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
    	<div class="form-group required">
				<label translate>LB_MODULE</label>
				<div class="input-group" flex ng-controller="modulesListCtrl">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=extension></md-ico></div></div> 
					<select class="form-control" ng-model="frmParent.fk_modulo_id" required
									ng-options="row.modulo_id as (row.modulo_id+'. '+row.modulo_nombre) for row in list"></select>
				</div>
			</div>
			<div class="form-group required">
				<label translate>LB_SUBMODULE</label>
				<div class="input-group" flex>
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=stars></md-ico></div></div> 
					<input ng-model="frmParent.submodulo_nombre" class="form-control" placeholder="ID de Usuario" required>
				</div>
			</div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>