<div layout-padding>
	<div class="box box-info collapsed-box no-margin">
		<div class="box-header with-border text-center">
			<h3 class="box-title" translate>LB_INSTRUCTIONS</h3>
			<div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
      </div>
		</div>
		<div class="box-body box-bg-info" layout=column layout-wrap>
			<div ng-bind-html="$parent.trustAsHtml(paramsConf.INFO_LIST_STAND)"></div>
		</div>
	</div>
</div>

<md-card ng-controller="myTableCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=slideshow></md-ico></md-button>
			<h2 hide-xs><span translate>TOOLBAR_SHOWING</span></h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()">
				<md-ico i=search></md-ico><md-tooltip><span translate>LB_SEARCH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ui-sref="training.calendar({entity:'stands'})">
				<md-ico i=add></md-ico><md-tooltip><span translate>LB_NEW</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<toolbar-filter></toolbar-filter>
	<div class="md-padding" layout-xs=column layout=row layout-padding layout-wrap>
		<div class="wow fadeInUp" style="min-width:350px;max-width:480px" ng-repeat="row in rowsParent.data" flex>
			<div class="box box-{{string2JSON('colorCss')[$index]}} text-center no-margin box-material-18">
				<div class="box-header with-border">
					<h3 class="box-title">{{row.stand_codigo}}</h3>
				</div>
				<div class="box-body">
					<strong><md-ico i=book></md-ico><br><span translate>LB_TOPIC</span></strong>
			    <p class="text-muted">{{row.stand_tema}}</p>
			    <hr>
					<strong><md-ico i=record_voice_over></md-ico><br><span translate>LB_COORDINATOR</span></strong>
			    <p class="text-muted">{{row.persona_apellidos}} {{row.persona_nombres}}<br>{{string2JSON('identificationType')[row.persona_tipo_doc]}} / {{row.persona_doc_identidad}}</p>
			    <hr>
					<strong><md-ico i=people></md-ico><br><span translate>LB_EVENT_PEOPLE</span></strong>
			    <p class="text-muted">{{row.stand_auditorio}}</p>
			    <hr>
					<strong><md-ico i=event_available></md-ico><br><span translate>LB_DATE</span></strong>
			    <p class="text-muted">{{row.stand_fecha}}</p>
			    <div ng-if="row.stand_estado=='PENDIENTE'">
				    <hr>
						<strong><md-ico i=event_busy></md-ico><br><span translate>LB_CONFIRMATION_DATE</span></strong>
				    <p class="text-muted"><label class="label label-danger text-capitalize">{{row.stand_confirmacion | date: 'fullDate'}}</label></p>
			    </div>
			    <hr>
					<strong><md-ico i=flag></md-ico><br><span translate>LB_STATUS</span></strong>
			    <p class="text-muted"><span ng-bind-html="statusLabel[row.stand_estado]"></span></p>
			    <div ng-if="row.gallery_entity>0">
				    <hr>
						<strong><md-ico i=photo_size_select_actual></md-ico><br><span translate>LB_VERIFICATION_SOURCE</span></strong>
				    <p class="text-muted">{{row.gallery_entity}}</p>
			    </div>
				</div>
				<div class="box-footer">
					<button class="btn btn-block btn-warning" ng-click="openParentModal('Coordinador',mergeData(row,{entityName:'stands'}))" ng-if="row.stand_estado=='PENDIENTE'">
						<md-ico i=record_voice_over></md-ico> <span translate>LB_COORDINATOR</span>
					</button>
					<button class="btn btn-block btn-info" ng-click="exportWithDetail(row.stand_id)" ng-if="row.stand_estado=='PENDIENTE'">
						<md-ico i=print></md-ico> <span translate>LB_PRINT_REQUEST</span>
					</button>
					<button class="btn btn-block btn-info" style="margin-top:5px" ui-sref="main.detailStands({id:row.stand_id})">
						<md-ico i=done_all></md-ico> <span translate>LB_DETAIL</span>
					</button>
					<button class="btn btn-warning btn-block" ng-click="openParentModal('Evaluacionsatisfaccion',{entity:'stands',entityId:row.stand_id,edit:false})" ng-if="row.stand_estado=='DESPACHADA'">
						<md-ico i=star_half></md-ico> <span translate>LB_EVALUATE</span>
					</button>
					<button class="btn btn-block btn-danger" ng-click="openParentModal('Gallery',{edit:false,fk_table:'stands',fk_id:row.stand_id,media_tipo:'IMG'})" ng-if="(row.stand_estado=='DESPACHADA' || row.stand_estado=='EVALUADA') && row.gallery_entity<3">
						<md-ico i=publish></md-ico> <span translate>LB_UPLOAD_EVIDENCE</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<footer-table></footer-table>
</md-card>