<md-card ng-cloak ng-controller="dataTableNodeCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button">
				<md-ico i=translate></md-ico>
				<md-tooltip><span translate>TOOLBAR_LABELS</span></md-tooltip>
			</md-button>
			
			<form flex name="filter.form">
	      <input class="form" type="text" ng-model="filterParent.textFilter" id="inputSearch" ng-model-options="filter.options" placeholder="{{'LB_SEARCH_MAIN_TOOLBAR' | translate}}">
	    </form>
			<md-button aria-label="btn" class="md-icon-button" ng-if="filterParent.textFilter!=''" ng-click="filterParent.textFilter=''">
				<md-ico i=clear></md-ico><md-tooltip><span translate>LB_CLEAR</span></md-tooltip>
			</md-button>
	    
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openModal()">
				<md-ico i=add></md-ico><md-tooltip><span translate>LB_NEW</span></md-tooltip>
			</md-button>
			
			<md-button aria-label="btn" class="md-icon-button" ng-click="createFile()">
				<md-ico i=note_add></md-ico><md-tooltip><span translate>LB_GENERATE_LABELS</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_CODE</span></th>
					<th md-column><span translate>LB_MODULE</span></th>
					<th md-column><span translate>LB_KEY</span></th>
					<th md-column><span translate>LB_LANG_SPANISH</span></th>
					<th md-column><span translate>LB_LANG_ENGLISH</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.rows">
					<td md-cell><span ng-bind-html="highlight(row.label_id)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.label_module)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.label_key)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.label_es)"></span></td>
					<td md-cell><span ng-bind-html="highlight(row.label_en)"></span></td>
					<td md-cell class="table-menu text-center" layout="row">
					  <menu-single></menu-single>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	<datatable-footer></datatable-footer>
</md-card>