<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog form-fa" ng-controller="feasibilityExtendsCtrl">
  <form name="formData" ng-submit="submitForm()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><i-fa i=fire s=lg></i-fa></md-button>
			<h2 translate>LB_PROJECT_MANAGER</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="closeDialog()"><md-ico i=close></md-ico></md-button>
		</div>
	</md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
    	<!-- INFORMACIÓN DE PROPIETARIO -EMPRESA, SOCIEDAD O PERSONA -->
    	<div flex class="box box-danger text-center card-entity-information no-margin">
			  <div class="box-header with-border">
			    <h3 class="box-title" translate>LB_OWNER_INFORMATION</h3>
			  </div>
			  <div class="box-body row">
			    <div class="col-md-3">
			    	<p><img src="/app/src/img/entities/default.png" style="width:128px;margin:auto" class="img-responsive"/></p>
			    </div>
			    <div class="col-md-9 text-left">
			    	<p><b translate>LB_TRADENAME</b>: {{sessionEntity.entidad_razonsocial}}</p>
			    	<p><b translate>LB_TAXPAYER_TYPE</b>: {{string2JSON('contribuyenteType')[sessionEntity.entidad_contribuyente]}}</p>
			    	<p><b translate>LB_RUC</b>: {{sessionEntity.entidad_ruc}}</p>
			    	<div ng-if="!(sessionEntity.entidad_contribuyente=='natural' || sessionEntity.entidad_contribuyente=='cedula')">
				    	<p><b translate>LB_AGENT</b>: {{sessionEntity.persona_apellidos+' '+sessionEntity.persona_nombres}}</p>
				    	<p><b translate>LB_IDENTIFICATION_NUMBER</b>: {{sessionEntity.persona_doc_identidad}}</p>
			    	</div>
			    	<p><b translate>LB_TEL</b>: {{sessionEntity.persona_telefono}} - {{sessionEntity.persona_celular}}</p>
			    	<p><b translate>LB_MAIL</b>: {{sessionEntity.persona_correo}}</p>
			    </div>
			  </div>
			</div>
    	<!-- FORMULARIO DE REGISTRO -->
			<div class="box box-success no-margin margin-top" layout-padding>
				<div class="box-header text-center">
				  <h3 class="box-title text-uppercase" translate>LB_PROJECT_INFORMATION</h3>
				</div>
				<div class="box-body padding-all" layout-padding>
					<div class="form-group required">
						<i-fa i=object-group></i-fa>
						<label translate>LB_PROJECT_NAME</label>
						<input class="form-control" ng-model="frmParent.factibilidad_proyecto" placeholder="Ej. Edificio Santa Ana" required />
					</div>
					<div class="form-group required">
						<i-fa i=institution></i-fa>
						<label translate>LB_RESPONSIBLE_INSTALLATION_COMPANY</label>
						<input class="form-control" ng-model="frmParent.factibilidad_empresa_responsable" placeholder="Ej. AGP Soluciones con Ingeniería" required />
					</div>
					
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex  max-date="today" moment-picker="frmParent.factibilidad_elaborado" format="YYYY-MM-DD">
						  <i-fa i=calendar></i-fa>
						  <label translate>LB_DATE_ELABORATION</label>
						  <input ng-model="frmParent.factibilidad_elaborado" ng-model-options="{ updateOn: 'blur' }" class="form-control" placeholder="Ej. 2006-06-06" required />
						</div>
						<div class="form-group required" flex>
							<i-fa i=globe></i-fa>
							<label translate>LB_PARISH</label>
							<select class="form-control" ng-model="frmParent.factibilidad_parroquia" required
									ng-options="val as val for (key,val) in string2JSON('parishesList')"></select>
						</div>
					</div>
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<i-fa i=location-arrow></i-fa>
							<label translate>LB_FIRST_LINE</label>
							<input class="form-control" ng-model="frmParent.factibilidad_principal" placeholder="Ej. Av. Quevedo km 5" required />
						</div>
						<div class="form-group required" flex>
							<i-fa i=map-signs></i-fa>
							<label translate>LB_SECOND_LINE</label>
							<input class="form-control" ng-model="frmParent.factibilidad_secundaria" placeholder="Ej. Av. El Coperativismo" required />
						</div>
					</div>
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<i-fa i=map-signs></i-fa>
							<label translate>LB_MZ</label>
							<input class="form-control" ng-model="frmParent.factibilidad_manzana" placeholder="Ej. 3" required />
						</div>
						<div class="form-group required" flex>
							<i-fa i=location-arrow></i-fa>
							<label translate>LB_LOT</label>
							<input class="form-control" ng-model="frmParent.factibilidad_lote" placeholder="Ej. 15-20" required />
						</div>
					</div>
					<div layout-xs=column layout=row layout-padding>
					  <div class="form-group required" flex>
					    <i-fa i=long-arrow-right></i-fa>
					    <label translate>LB_LONGITUDE</label>
					    <input ng-model="frmParent.factibilidad_longitud" class="form-control" placeholder="Ej. -79,16" maxlength="20" required />
					  </div>
					  <div class="form-group required" flex>
					    <i-fa i=long-arrow-down></i-fa>
					    <label translate>LB_LATITUDE</label>
					    <input ng-model="frmParent.factibilidad_latitud" class="form-control" placeholder="Ej. -79,16" maxlength="20" required />
					  </div>
					</div>
				</div>
			</div>
			
			<!-- ANEXOS A REALIZAR -->
			<div class="box box-warning no-margin margin-top" layout-padding>
				<div class="box-header text-center">
				  <h3 class="box-title" translate>LB_LPG_TANKS</h3>
				</div>
				<div class="box-body no-padding">
		    	<table class="table table-bordered table-striped table-hover no-margin">
		    		<thead>
		    			<tr><th class="text-center"><span translate>#</span></th><th class="text-center"><span translate>LB_CAPACITY_M3</span></th><th class="text-center"><span translate>LB_ACTION</span></th></tr>
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="(key,item) in frmParent.tanksList">
			    			<td class="text-center" style="vertical-align:middle;">{{key + 1}}</td>
			    			<td style="vertical-align:middle;"><input type="number" step="0.1" min=0 parse-float class="form-control input-sm" ng-model="item.tanque_capacidad" placeholder="Ej. 2.0" required /></td>
			    			<td class="text-center" style="vertical-align:middle;"><button type="button" class="btn btn-danger btn-sm" ng-click="removeItem(item,'tanksList')"><i-fa i=trash></i-fa></button></td>
			    		</tr>
		    		</tbody>
		    	</table>
				</div>
				<div class="box-footer">
					<button type="button" class="btn btn-block btn-primary btn-sm" ng-click="addJobToDo('tanksList')"><span translate>LB_NEW</span></button>
				</div>
			</div>
			
			<div layout-padding ng-if="frmParent.factibilidad_facturacion=='OTRA'">
				<div class="callout callout-warning text-center no-margin margin-top">
				  <p ng-bind-html="trustAsHtml(paramsConf.PROJECT_BILLING_INFORMATION)"></p>
				</div>
			</div>
      
      <!-- DATOS PARA FACTURACIÓN -->
			<div class="box box-primary card-entity-information no-margin margin-top">
				<div class="box-header with-border text-center">
				  <h3 class="box-title" translate>LB_BILLING_INFORMATION</h3>
				</div>
				<div class="box-body padding-all" layout-padding>
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<i-fa i=money></i-fa>
							<label translate>LB_BILLING_TO</label>
							<select class="form-control" ng-model="frmParent.factibilidad_facturacion" required
										ng-options="key as val for (key,val) in string2JSON('BILLING_TO')"></select>
						</div>
						<div class="form-group required" flex ng-if="frmParent.factibilidad_facturacion=='OTRA'">
							<i-fa i=credit-card></i-fa>
							<label translate>LB_BILLING_RUC</label>
							<div class="input-group">
								<input ng-model="frmParent.facturacion_ruc" class="form-control" placeholder="Ej. 1721953189001" required maxlength="13" />
								<span class="input-group-btn"><button type="button" ng-click="searchRucInformation(frmParent.facturacion_ruc,'frmParent','billing')" class="btn btn-info btn-flat"><i-fa i=search></i-fa></button></span>
							</div>
						</div>
					</div>
			  	<div class="col-md-3" ng-if="frmParent.factibilidad_facturacion=='OTRA' && !(frmParent.billing | isEmpty)">
			  		<p><img src="/app/src/img/entities/default.png" style="width:128px;margin:auto" class="img-responsive"/></p>
			    </div>
			    <div class="col-md-9 text-left" ng-if="frmParent.vbp_facturacion=='OTRA' && !(frmParent.billing | isEmpty)">
			    	<p><b translate>LB_TRADENAME</b>: {{frmParent.billing.entidad_razonsocial}}</p>
			    	<p><b translate>LB_TAXPAYER_TYPE</b>: {{string2JSON('contribuyenteType')[frmParent.billing.entidad_contribuyente]}}</p>
			    	<p><b translate>LB_RUC</b>: {{frmParent.billing.entidad_ruc}}</p>
			    	<div ng-if="!(frmParent.billing.entidad_contribuyente=='natural' || frmParent.billing.entidad_contribuyente=='cedula')">
				    	<p><b translate>LB_AGENT</b>: {{frmParent.billing.person.persona_apellidos+' '+frmParent.billing.person.persona_nombres}}</p>
				    	<p><b translate>LB_IDENTIFICATION_NUMBER</b>: {{frmParent.billing.person.persona_doc_identidad}}</p>
			    	</div>
			    	<p><b translate>LB_TEL</b>: {{frmParent.billing.person.persona_telefono}} - {{frmParent.billing.person.persona_celular}}</p>
			    	<p><b translate>LB_MAIL</b>: {{frmParent.billing.person.persona_correo}}</p>
			    </div>
			  </div>
			</div>
			
		</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>