<md-dialog aria-label="Form Data" class="form-content-alt modal-dialog">
  <form name="formData">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button"><md-ico i=people></md-ico></md-button>
			<h2 translate>LB_BRIGADES_FORM</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
		<md-content layout-padding>
			
			<div class="box box-primary no-padding no-margin">
				<div class="box-header text-center">
				  <h3 class="box-title" translate>LB_REGISTRATION_FORM</h3>
				</div>
				<div class="box-body" layout=column layout-padding>
					<div class="form-group required">
						<label translate>LB_BRIGADES_NAME</label>
						<div class="input-group">
							<span class="input-group-addon"><md-ico i=record_voice_over></md-ico></span>
							<input ng-model="frmParent.brigada_nombre" class="form-control" placeholder="Ej. Brigada de control de incendios" required />
						</div>
					</div>
					<!-- 
					<div class="form-group required">
						<label translate>LB_BRIGADES_FUNCTION</label>
						<div class="input-group">
							<span class="input-group-addon"><md-ico i=touch_app></md-ico></span>
							<textarea rows="5" ng-model="frmParent.brigada_funcion" class="form-control" placeholder="Ej. Atención de primera respuesta con..." required></textarea>
						</div>
					</div>
					 -->
				</div>
			</div>
			
			<div class="box box-success no-padding no-margin margin-top">
				<div class="box-header text-center">
				  <h3 class="box-title" translate>LB_RESPONSIBLE_FOR_THE_BRIGADE</h3>
				</div>
				<div class="box-body" layout=column layout-padding>
					
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_IDENTIFICATION_TYPE</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=credit-card></i-fa></span>
								<select class="form-control select2" ng-model="frmParent.responsable.persona_tipo_doc" ng-options="key as val for (key,val) in string2JSON('identificationType')" required></select>
							</div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_IDENTIFICATION_NUMBER</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=id-card></i-fa></span>
								<input ng-model="frmParent.responsable.persona_doc_identidad" class="form-control" placeholder="Ej. 230005478961" required maxlength=20>
								<span class="input-group-btn"><button type="button" ng-click="searchPersonInformation(frmParent.responsable.persona_doc_identidad,'frmParent','responsable')" class="btn btn-info btn-flat"><i-fa i=search></i-fa></button></span>
							</div>
						</div>
					</div>
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_LASTNAME</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=user></i-fa></span>
								<input ng-model="frmParent.responsable.persona_apellidos" class="form-control" placeholder="Ej. Pinargote Bayas" required>
							</div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_NAME</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=user-o></i-fa></span>
						    <input ng-model="frmParent.responsable.persona_nombres" class="form-control" placeholder="Ej. Julian Emiliano" required>
					    </div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="box box-success no-padding no-margin margin-top">
				<div class="box-header text-center">
				  <h3 class="box-title" translate>LB_JUNIOR</h3>
				</div>
				<div class="box-body" layout=column layout-padding>
					
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_IDENTIFICATION_TYPE</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=credit-card></i-fa></span>
								<select class="form-control select2" ng-model="frmParent.junior.persona_tipo_doc" ng-options="key as val for (key,val) in string2JSON('identificationType')"></select>
							</div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_IDENTIFICATION_NUMBER</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=id-card></i-fa></span>
								<input ng-model="frmParent.junior.persona_doc_identidad" class="form-control" placeholder="Ej. 230005478961" maxlength=20>
								<span class="input-group-btn"><button type="button" ng-click="searchPersonInformation(frmParent.junior.persona_doc_identidad,'frmParent','junior')" class="btn btn-info btn-flat"><i-fa i=search></i-fa></button></span>
							</div>
						</div>
					</div>
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_LASTNAME</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=user></i-fa></span>
								<input ng-model="frmParent.junior.persona_apellidos" class="form-control" placeholder="Ej. Pinargote Bayas">
							</div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_NAME</label>
							<div class="input-group">
								<span class="input-group-addon"><i-fa i=user-o></i-fa></span>
						    <input ng-model="frmParent.junior.persona_nombres" class="form-control" placeholder="Ej. Julian Emiliano">
					    </div>
						</div>
					</div>
					
				</div>
			</div>
			
    </md-content>
  </md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type=button ng-click="submitRequestForm()" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>