<md-dialog aria-label="Form Data" class="modal-dialog" ng-controller="selfProtectionAnexesExtendsCtrl">
  <form name="formData" ng-submit="uploadAnnexes()">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="btn" class="md-icon-button"><i-fa i=image></i-fa></md-button>
			<h2 translate>TOOLBAR_GALLERY</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=close></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
		<md-content layout=column layout-padding>
			
			<div class="form-group required">
				<label translate>LB_CHOOSE_FILE</label>
				<div class="input-group">
		      <span class="input-group-addon"><i-fa i=image></i-fa></span>
		      <input class="form-control" uploader-model="frmParent[frmParent.typeFile]" type="file" accept="{{string2JSON('fileTypeMime')['PDF']}}" />
		    </div>
			</div>
			
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>