<md-dialog aria-label="Form Data" class="form-content-alt modal-dialog">
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="btn" class="md-icon-button"><md-ico i=group></md-ico></md-button>
			<h2 translate>TOOLBAR_CAPACITORS</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  	<md-content layout=column layout-padding>
			<!-- INFORMACIÓN DE CAPACITACIÓN -->
			<card-staff-information layout-padding></card-staff-information>
			<!-- INFORMACION DE CAPACITADORES -->
			<div class="card card-outline card-primary no-padding no-margin margin-top" ng-if="toogleEditMode">
				<div class="card-header text-center">
				  <h3 class="card-title" translate>LB_TRAINER_INFORMATION</h3>
				</div>
				<div class="card-body" layout=column layout-padding>
					<div class="form-group required">
						<label translate>LB_STATUS</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
							<select class="form-control" ng-model="frmParent.trainer_estado"
											ng-options="val as val for (key,val) in string2JSON('statusType')"></select>
						</div>
					</div>
				</div>
			</div>
  	</md-content>
  </md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>LB_CLOSE</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>
