<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog modal-lg" ng-controller="participantsLisExtendsCtrl">
  <form name="formData" ng-submit="submitFormFile()">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="btn" class="md-icon-button"><md-ico i=content_paste></md-ico></md-button>
      <h2 translate>TOOLBAR_PEOPLE</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
    	<div class="callout callout-info no-margin" style="margin-bottom:8px!important">
			  <div class="text-center"><i class="icon fa fa-bell-o fa-3x faa-ring animated"></i></div>
			  <p ng-bind-html="trustAsHtml(paramsConf.INFO_TRY_UPLOAD_LIST)"></p>
			</div>
    	
			<div class="card card-outline card-primary no-padding no-margin">
				<div class="card-body" layout=column layout-padding layout-wrap>
			    <div class="form-group required" flex>
						<label translate>LB_FILE</label>
				    <div class="input-group">
				      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=attachment></md-ico></div></div> 
				      <input uploader-model="frmParent.participantes_file" type="file" accept="{{fileTypeMime.EXCEL}}" class="form-control" required/>
				    </div>
					</div> 
			    <div layout-xs=column layout=row layout-padding layout-wrap>   
			    	<div class="form-group required" flex>
							<label translate>LB_IDENTIFICATION_NUMBER</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=credit_card></md-ico></div></div> 
					      <input ng-model="frmParent.doc_identidad" class="form-control" placeholder="Ej. D" required/>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>LB_LASTNAME</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=person></md-ico></div></div> 
					      <input ng-model="frmParent.apellidos" class="form-control" placeholder="Ej. B" required/>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>LB_NAME</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=person_outline></md-ico></div></div> 
					      <input ng-model="frmParent.nombres" class="form-control" placeholder="Ej. C" required/>
					    </div>
						</div>
					</div>
			    <div layout-xs=column layout=row layout-padding layout-wrap>
				    <div class="form-group required" flex>
							<label translate>Num. Hoja</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=insert_drive_file></md-ico></div></div> 
					      <input ng-model="frmParent.hoja_numero" class="form-control" placeholder="Ej. 1" required/>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>Primera fila</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=format_list_numbered></md-ico></div></div> 
					      <input ng-model="frmParent.fila_inicio" class="form-control" placeholder="Ej. A2" required/>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>Última fila</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=format_list_numbered></md-ico></div></div> 
					      <input ng-model="frmParent.fila_final" class="form-control" placeholder="Ej. C500" required/>
					    </div>
						</div>
			    </div>
			    <!-- 
			    <div layout-xs=column layout=row layout-padding layout-wrap ng-if="frmParent.capacitacion_estado=='DESPACHADA'">
			    	<div class="form-group required" flex>
							<label translate># referndacion</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=fingerprint></md-ico></div></div> 
					      <input ng-model="frmParent.serie_refrendacion" class="form-control" placeholder="Ej. D" required/>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>F. refrendación</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
					      <input ng-model="frmParent.fecha_refrendacion" class="form-control" placeholder="Ej. E" required/>
					    </div>
						</div>
			    	<div class="form-group required" flex>
							<label translate>C. institución</label>
				    	<div class="input-group">
					      <div class="input-group-prepend"><div class="input-group-text"><md-ico i=fingerprint></md-ico></div></div> 
					      <input ng-model="frmParent.serie_institucion" class="form-control" placeholder="Ej. F" required/>
					    </div>
						</div>
			    </div>
			     -->
				</div>
			</div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>