<md-menu md-position-mode="target-right target text-uppercase">
  <md-button aria-label="Open demo menu" class="md-icon-button main-menu-icon" ng-click="$mdOpenMenu($event)">
    <i class="material-icons md-24">style</i>
  </md-button>
  <md-menu-content width="7">
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.selfProtection.step1',{localId:frmParent.fk_local_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP1</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.selfProtection.step2',{localId:frmParent.fk_local_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP2</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step3',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP3</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step4',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP4</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step5',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP5</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step6',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP6</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step7',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP7</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step8',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP8</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step9',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP9</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step10',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP10</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="goUI('permits.editSelfProtection.step11',{planId:frmParent.plan_id})">
        <div layout="row" flex>
          <p flex translate>LB_SELFPROTECTION_STEP11</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
            <md-ico i=done_all></md-ico>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
  	
    <md-menu-item>
      <md-button aria-label="editar" ng-click="exportById('planautoproteccion',frmParent.plan_id)">
        <div layout="row" flex>
          <p flex translate>LB_PRINT_AUTOPROTECTION_PLAN</p>
          <md-icon md-menu-align-target class="md-menu-btn-ico">
						<i-fa i=bullhorn></i-fa>
          </md-icon>
        </div>
      </md-button>
    </md-menu-item>
		
  </md-menu-content>
</md-menu>