<view-menu></view-menu>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Main content -->
  <section class="content">
  	<!-- breadcrumbs -->
		<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
		<!-- CONTAINER -->
		<div ui-view class="div-container"><view-home></view-home></div>
  </section>
  <!-- /.content -->
</div>
<footer class="main-footer text-center">
	<small>
		<span ng-bind-html="paramsConf.dev_license"></span>
		<br><span ng-bind-html="paramsConf.sistema_footer"></span>
		<br><b>{{paramsConf.dev_version}}</b>
	</small>
</footer>