<md-dialog aria-label="Dialog" class="modal-dialog">
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=low_priority></md-ico></md-button>
			<h2 class="md-flex" translate>TOOLBAR_PARISHES</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout=column layout-padding>
    	
    	<frm-location-towns layout=column layout-padding></frm-location-towns>
    	
    	<div class="form-group required">
				<label translate>LB_PARISHES</label>
				<div class="input-group">
					<div class="input-group-prepend"><div class="input-group-text"><md-ico i=low_priority></md-ico></div></div> 
			    <input type="text" ng-model="frmParent.parish_name" class="form-control" placeholder="Ej. SANTO DOMINGO DE LOS COLORADOS" required>
				</div>
			</div>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>