<md-card ng-cloak ng-controller="myTableCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button">
				<md-ico i=format_list_numbered></md-ico>
				<md-tooltip><span translate>TOOLBAR_FORMS</span></md-tooltip>
			</md-button>
			
			<form flex name="filter.form">
	      <input class="form" type="text" ng-model="filterParent.filter" id="inputSearch" ng-model-options="filter.options" placeholder="{{'LB_SEARCH_MAIN_TOOLBAR' | translate}}">
	    </form>
			<md-button aria-label="btn" class="md-icon-button" ng-if="filterParent.filter!=''" ng-click="filterParent.filter=''">
				<md-ico i=clear></md-ico><md-tooltip><span translate>LB_CLEAR</span></md-tooltip>
			</md-button>
			
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
			
			<md-button aria-label="btn" class="md-icon-button" ng-click="openModal()" ng-if="true">
				<md-ico i=add></md-ico><md-tooltip><span translate>LB_NEW</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
      <col style="width:20%">
      <col style="">
     	<col style="width:20%">
     	<col style="width:3%">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_FORMS</span></th>
					<th md-column><span translate>LB_INSPECTOR</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.data">
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="highlight(row.formulario_tipo)"></span><br>
            <md-ico i=done></md-ico><span ng-bind-html="highlight(row.formulario_serie)"></span>
					</td>
					<td md-cell>
						<md-ico i=person></md-ico><span ng-bind-html="highlight(row.inspector_nombre)"></span><br>
            <md-ico i=event></md-ico><span ng-bind-html="highlight(row.formulario_fecha_entrega)"></span>
					</td>
          <td md-cell>
            <md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.formulario_estado]"></span><br>
            <md-ico i=event></md-ico><span ng-bind-html="highlight(row.formulario_registro)"></span><br>
            <md-ico i=people></md-ico><span ng-bind-html="highlight(row.usuario)"></span>
          </td>
					<td md-cell class="table-menu text-center">
					  <menu-mini></menu-mini>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	<footer-table></footer-table>
</md-card>