<div layout-padding class="no-padding">
	<div layout-xs=column layout=row layout-padding>
		<card-tracking class="card-information" ng-if="detailConfig.show" flex></card-tracking>
		
		<div flex>
			<md-card class="no-margin">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<md-button aria-label="btn" class="md-icon-button"><md-ico i=gps_fixed></md-ico></md-button>
						<h2>{{entity.unidad_nombre}} [{{entity.vehiculo_placa}}]</h2>
						<span flex></span>
						<md-button aria-label="btn" class="md-icon-button" ng-click="reloadEntity()"><md-ico i=refresh></md-ico></md-button>
						<md-button aria-label="btn" class="md-icon-button" ng-click="toogleShowDetail()"><md-ico i={{detailConfig.icon}}></md-ico></md-button>
					</div>
				</md-toolbar>
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="{{'LB_PASSENGERS' | translate}}">
						<md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
							<div class="md-toolbar-tools">
								<md-button aria-label="btn" class="md-icon-button"><md-ico i=group></md-ico></md-button>
								<h2 translate>TOOLBAR_PASSENGERS</h2>
							</div>
						</md-toolbar>
						<md-table-container>
					    <table md-table class="md-primary table-hover" md-progress="deferred">
					      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
									<tr md-row>
										<th md-column><span translate>LB_PERSONAL</span></th>
										<th md-column><span translate>LB_DETAIL</span></th>
									</tr>
					      </thead>
					      <tbody>
									<tr md-row data-ng-repeat="row in entity.passengersList">
										<td md-cell>
											<md-ico i=person></md-ico><span ng-bind-html="highlight(row.pasajero)"></span><br>
											<md-ico i=account_balance></md-ico><span ng-bind-html="highlight(row.puesto_nombre)"></span>
										</td>
										<td md-cell><md-ico i=comment></md-ico><span ng-bind-html="highlight(row.pasajero_estado)"></span></td>
									</tr>
					      </tbody>
					    </table>
						</md-table-container>
					</md-tab>
				</md-tabs>
			</md-card>
		</div>
	</div>
</div>