<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog">
  <form name="formData" ng-submit="submitRequested()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=access_time></md-ico></md-button>
			<h2 translate>LB_DIAL_REGISTER</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-content layout=column layout-padding>
      <!-- INFORACIÓN GENERAL -->
      <div class="card card-outline v no-padding no-margin">
        <div class="card-header with-border text-center">
          <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
        </div>
        <div class="card-body" layout=column layout-padding>
         
         	<div class="form-group required" ng-controller="workdaysListCtrl" flex>
						<label translate>LB_WORKDAY</label>
					  <div class="input-group">
					    <div class="input-group-prepend"><div class="input-group-text"><md-ico i=access_time></md-ico></div></div> 
					    <select class="form-control" ng-model="frmParent.fk_jornada_id" required ng-options="row.jornada_id as row.jornada_nombre for row in jsonList"></select>
					  </div>
					</div>
					
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_ENTRY_TIME_SYSTEM</label>
							<div class="input-group" moment-picker="frmParent.marcacion_ingreso_sistema" format="YYYY-MM-DD HH:mm">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
					    	<input class="form-control" ng-model="frmParent.marcacion_ingreso_sistema" ng-model-options="{updateOn:'blur'}" placeholder="EJ. 08:00" required>
					    </div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_DEPARTURE_TIME_SYSTEM</label>
							<div class="input-group" moment-picker="frmParent.marcacion_salida_sistema" format="YYYY-MM-DD HH:mm" min-date="frmParent.marcacion_ingreso_sistema">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_busy></md-ico></div></div> 
					    	<input class="form-control" ng-model="frmParent.marcacion_salida_sistema" ng-model-options="{updateOn:'blur'}" placeholder="EJ. 17:00" required>
					    </div>
						</div>
					</div>
					
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_ENTRY_TIME</label>
							<div class="input-group" moment-picker="frmParent.marcacion_ingreso" format="YYYY-MM-DD HH:mm">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_available></md-ico></div></div> 
					    	<input class="form-control" ng-model="frmParent.marcacion_ingreso" ng-model-options="{updateOn:'blur'}" placeholder="EJ. 08:00" required>
					    </div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_DEPARTURE_TIME</label>
							<div class="input-group" moment-picker="frmParent.marcacion_salida" format="YYYY-MM-DD HH:mm" min-date="frmParent.marcacion_ingreso">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=event_busy></md-ico></div></div> 
					    	<input class="form-control" ng-model="frmParent.marcacion_salida" ng-model-options="{updateOn:'blur'}" placeholder="EJ. 17:00" required>
					    </div>
						</div>
					</div>
					
					<div layout-xs=column layout=row layout-padding>
						<div class="form-group required" flex>
							<label translate>LB_STATUS</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
								<select class="form-control" ng-model="frmParent.marcacion_estado" ng-options="val as val for (key,val) in string2JSON('TTHH_MARKING_STATUS')" required></select>
							</div>
						</div>
						<div class="form-group required" flex>
							<label translate>LB_VALUE_PER_RANCH</label>
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text"><md-ico i=access_time></md-ico></div></div> 
								<input type="number" min="0" step="0.1" parse-float class="form-control" ng-model="frmParent.marcacion_rancho" placeholder="Ej. 6" required >
							</div>
						</div>
					</div>
					
					<div class="form-group" ng-class="[{'required':frmParent.marcacion_estado!='REGISTRO CORRECTO'}]" flex>
						<label translate>LB_OBSERVATION</label>
						<div class="input-group">
							<div class="input-group-prepend"><div class="input-group-text"><md-ico i=comment></md-ico></div></div> 
								<textarea class="form-control" rows="4" ng-model="frmParent.marcacion_observacion" ng-required="frmParent.marcacion_estado!='REGISTRO CORRECTO'"></textarea> 
						</div>
					</div>
          
				</div>
			</div>
			
		</md-content>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>