<md-dialog aria-label="Dialog" class="form-content-alt">
  <form name="formData" ng-submit="submitFormFile()">
	  <md-toolbar>
	    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=comment></md-ico></md-button>
			<h2 class="md-flex" translate>LB_COMMENTS</h2>
	      <span flex></span>
	      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
	    </div>
	  </md-toolbar>
	  <md-dialog-content>
			<md-content layout=column layout-padding>
					
					<!-- FORMULARIO DE REGISTRO -->
					<div class="card card-outline card-primary no-margin">
						<div class="card-header text-center">
						  <h3 class="card-title" translate>LB_REGISTRATION_FORM</h3>
						</div>
						<div class="card-body padding-all" layout=column layout-padding>
						 	
							<div class="form-group required" flex>
					 			<label translate>LB_TYPE_OF_REGISTER</label>
					  		<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=flag></md-ico></div></div> 
									<select class="form-control" ng-model="frmParent.control_tipo" required ng-options="val as val for (key,val) in string2JSON('TTHH_ABSENCES_CONTROL_TYPE')"></select>
								</div>
						 	</div>
						 	
							<div class="form-group required" flex>
					 			<label translate>LB_OBSERVATION</label>
					  		<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=comment></md-ico></div></div> 
									<textarea rows="5" class="form-control" ng-model="frmParent.control_descripcion" placeholder="Ej. Se tomó contacto con encargado de estación..." required></textarea>
								</div>
						 	</div>
							
							<div class="form-group required" flex>
					 			<label translate>LB_ATTACHED_FILES</label>
					  		<div class="input-group">
									<div class="input-group-prepend"><div class="input-group-text"><md-ico i=attach_file></md-ico></div></div> 
									<input uploader-model="frmParent.control_file" type="file" accept=".pdf,image/*" class="form-control" />
								</div>
						 	</div>
							
						</div>
					</div>
					
			</md-content>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
			<span flex></span>
			<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
		</md-dialog-actions>
  </form>
</md-dialog>