<div flex class="card card-outline card-danger text-center card-entity-information no-margin no-padding">
  <div class="card-header with-border">
    <h3 class="card-title">{{frmParent.entidad_razonsocial}}</h3>
  </div>
  <div class="card-body row no-margin">
    <div class="col-md-3">
    	<p><img src="/app/src/img/entities/default.png" style="width:128px;margin:auto" class="img-responsive"/></p>
    </div>
    <div class="col-md-9 text-left">
    	<p><md-ico i={{frmParent.entidad_contribuyente=='natural'?'person':'business'}}></md-ico> <b translate>LB_TRADENAME</b>: {{frmParent.entidad_razonsocial}}</p>
    	<p><md-ico i=account_balance></md-ico> <b translate>LB_TAXPAYER_TYPE</b>: {{string2JSON('contribuyenteType')[frmParent.entidad_contribuyente]}}</p>
    	<p><md-ico i=credit_card></md-ico> <b translate>LB_RUC</b>: {{frmParent.entidad_ruc}}</p>
    	
    	<hr>
    	<p><md-ico i=person></md-ico> <b translate>LB_USER</b>: {{frmParent.entidad_usuario}}</p>
    	<p><md-ico i=mail></md-ico> <b translate>LB_MAIL</b>: {{frmParent.entidad_correo}}</p>
    	<p><md-ico i=phone></md-ico> <b translate>LB_TEL</b>: {{frmParent.entidad_telefono}} - {{frmParent.entidad_celular}}</p>
    	
    	<hr>
    	<p><md-ico i=person></md-ico> <b translate>LB_AGENT</b>: {{frmParent.persona_apellidos+' '+frmParent.persona_nombres}}</p>
    	<p><md-ico i=credit_card></md-ico> <b translate>LB_IDENTIFICATION_NUMBER</b>: {{frmParent.persona_doc_identidad}}</p>
    	<p><md-ico i=phone></md-ico> <b translate>LB_TEL</b>: {{frmParent.persona_telefono}} - {{frmParent.persona_celular}}</p>
    	<p><md-ico i=mail></md-ico> <b translate>LB_MAIL</b>: {{frmParent.persona_correo}}</p>
    </div>
  </div>
</div>