<form name="formData" class="form-digital padding-all" layout-padding>
	<div style="padding-bottom:0px;">
		<md-toolbar>
			<div class="md-toolbar-tools">
		  	<md-button aria-label="btn" class="md-icon-button" hide-xs><i-fa i=star-half-o s=lg></i-fa></md-button>
		  	<h2 translate hide-xs>LB_EMERGENCY_PLAN_ONLINE</h2>
		    <span flex hide-xs></span>
		    <small translate style="font-size: 15px;" class="text-uppercase">{{toolbar}}</small>
		    <menu-detail-self-protection ng-if="frmParent.plan_id>0 && frmParent.plan_tipo=='FORMATO ONLINE'"></menu-detail-self-protection>
			</div>
		</md-toolbar>
	</div>
	<div ui-view class="no-padding" layout-padding></div>
</form>