<md-card ng-cloak ng-controller="dataTableNodeCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button">
				<md-ico i=assistant_photo></md-ico>
				<md-tooltip><span translate>LB_LIST_STATIONS</span></md-tooltip>
			</md-button>
			
			<form flex name="filter.form">
	      <input class="form" type="text" ng-model="filterParent.textFilter" id="inputSearch" ng-model-options="filter.options" placeholder="{{'LB_SEARCH_INPUT' | translate}}">
	    </form>
			<md-button aria-label="btn" class="md-icon-button" ng-if="filterParent.textFilter!=''" ng-click="filterParent.textFilter=''">
				<md-ico i=clear></md-ico><md-tooltip><span translate>LB_CLEAR</span></md-tooltip>
			</md-button>
			
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	
	<div class="md-padding row no-margin" layout-padding>
		<div class="col-md-4 col-xs-12 wow fadeInUp" data-ng-repeat="row in rowsParent.rows">
						
			<div class="box box-widget widget-user-2 text-uppercase no-margin">
		   <div class="widget-user-header bg-blue">
		     <div class="widget-user-image">
		       <img class="img-circle" src="/app/src/img/stations/default.png" ng-src="/app/src/img/stations/{{row.estacion_imagen}}" alt="User Avatar">
		     </div>
		     <h3 class="widget-user-username">{{row.estacion_nombre}} - {{row.estacion_nombre_alterno}}</h3>
		     <h5 class="widget-user-desc"><md-ico i=person s=18></md-ico> {{row.encargadoestacion}}</h5>
		   </div>
		   <div class="box-footer no-padding">
		     <ul class="nav nav-stacked">
		       <li><a href="#"><md-ico i=public s=18></md-ico> <small translate>LB_PARISH</small> <span class="pull-right text-right" style="max-width:60%;font-size:10px;">{{row.estacion_parroquia}}</span></a></li>
		       <li><a href="#"><md-ico i=directions s=18></md-ico> <small translate>LB_ADDRESS</small> <span class="pull-right text-right" style="max-width:60%;font-size:10px;">{{row.estacion_principal+' Y '+row.estacion_secudaria}}</span></a></li>
		       <li><a href="#"><md-ico i=local_phone s=18></md-ico> <small translate>LB_TEL</small> <span class="pull-right text-right" style="max-width:60%;font-size:10px;">{{row.estacion_telefono}}</span></a></li>
		       <li><a href="#"><md-ico i=person s=18></md-ico> <small translate>LB_ADMINISTRATIVE_STAFF</small> <span class="pull-right badge bg-blue text-right" style="max-width:60%;font-size:10px;">{{row.administrativo}}</span></a></li>
		       <li><a href="#"><md-ico i=person_outline s=18></md-ico> <small translate>LB_OPERATIONAL_STAFF</small> <span class="pull-right badge bg-green text-right" style="max-width:60%;font-size:10px;">{{row.operativo}}</span></a></li>
		       <li><a href="#"><md-ico i=local_shipping s=18></md-ico> <small translate>LB_UNITS</small> <span class="pull-right text-right badge bg-red" style="max-width:60%;font-size:10px;">{{row.unidades}}</span></a></li>
		     </ul>
		     
		     <div class="padding-all">
					 <button class="btn btn-default btn-block btn-sm" ui-sref="records.detailStations({id:row.estacion_id})">
					 	<span translate>LB_DETAIL</span>
					 </button>
		     </div>
		       			
		   </div>
			</div>
		</div>
	</div>
	<datatable-footer></datatable-footer>
</md-card>