<md-dialog aria-label="Dialog" class="form-content-alt modal-dialog modal-lg" >
  <form name="formData" ng-submit="submitForm()">
  <md-toolbar>
    <div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=add_alert></md-ico></md-button>
			<h2 translate>TOOLBAR_MEDICAL_HISTORIES</h2>
      <span flex></span>
      <md-button aria-label="btn" class="md-icon-button" aria-label="Close dialog" ng-click="closeDialog()"><md-ico i=remove></md-ico></md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
			<md-tabs md-dynamic-height md-border-bottom>
			
				<md-tab label="{{'LB_PERSONAL_INFORMATION' | translate}}">
					<md-content layout=column layout-padding>
						<!-- INFORMACIÓN DE UNIDAD -->
						<card-staff-information layout-padding></card-staff-information>
						<div class="card card-outline card-primary no-padding no-margin margin-top">
							<div class="card-header text-center">
							  <h3 class="card-title" translate>LB_EXTRA_INFORMATION</h3>
							</div>
							<div class="card-body" layout=column layout-padding>
		            <div layout-xs=column layout=row layout-padding>
		              <div class="form-group required" flex>
		                <label translate>LB_USE_DRUGS</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=touch_app></md-ico></div></div> 
		                  <select class="form-control" ng-model="frmParent.historia_drogas" required ng-options="val as val for (key,val) in string2JSON('yesnoLabel')"></select>
		                </div>
		              </div>
		              <div class="form-group required" flex ng-if="frmParent.historia_drogas=='SI'">
		                <label translate>LB_FREQUENCY_CONSUMPTION</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div>  
		                  <input ng-model="frmParent.historia_drogas_detalle" class="form-control" placeholder="Ej. Cada 5 días..." required>
		                </div>
		              </div>
		            </div>
		            <div layout-xs=column layout=row layout-padding>
		              <div class="form-group required" flex>
		                <label translate>LB_CONSUME_TOBACCO</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=smoking_rooms></md-ico></div></div> 
		                  <select class="form-control" ng-model="frmParent.historia_tabaco" required ng-options="val as val for (key,val) in string2JSON('yesnoLabel')"></select>
		                </div>
		              </div>
		              <div class="form-group required" flex ng-if="frmParent.historia_tabaco=='SI'">
		                <label translate>LB_FREQUENCY_CONSUMPTION</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div>  
		                  <input ng-model="frmParent.historia_tabaco_detalle" class="form-control" placeholder="Ej. Cada 5 días..." required>
		                </div>
		              </div>
		            </div>
		            <div layout-xs=column layout=row layout-padding>
		              <div class="form-group required" flex>
		                <label translate>LB_CONSUME_ALCOHOLIC_BEVERAGES</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=local_bar></md-ico></div></div> 
		                  <select class="form-control" ng-model="frmParent.historia_alcohol" required ng-options="val as val for (key,val) in string2JSON('yesnoLabel')"></select>
		                </div>
		              </div>
		              <div class="form-group required" flex ng-if="frmParent.historia_alcohol=='SI'">
		                <label translate>LB_FREQUENCY_CONSUMPTION</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div>  
		                  <input ng-model="frmParent.historia_alcohol_detalle" class="form-control" placeholder="Ej. Cada 5 días..." required>
		                </div>
		              </div>
		            </div>
							</div>
						</div>
					</md-content>
				</md-tab>
			
				<md-tab label="{{'LB_PATHOLOGICAL_BACKGROUND' | translate}}">
					<md-content layout=column layout-padding>
						<div class="card card-outline card-warning no-padding no-margin">
							<div class="card-header text-center">
							  <h3 class="card-title" translate>LB_EXTRA_INFORMATION</h3>
							</div>
							<div class="card-body" layout=column layout-padding>
	              <div class="form-group required" flex>
	                <label translate>LB_MEDICALHISTORY_APP</label>
	                <div class="input-group">
	                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=person></md-ico></div></div>  
	                  <textarea rows="3" ng-model="frmParent.historia_app" class="form-control" required></textarea>
	                </div>
	              </div>
	              <div class="form-group required" flex>
	                <label translate>LB_MEDICALHISTORY_APF</label>
	                <div class="input-group">
	                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=people></md-ico></div></div>  
	                  <textarea rows="3" ng-model="frmParent.historia_apf" class="form-control" required></textarea>
	                </div>
	              </div>
	              <div class="form-group required" flex>
	                <label translate>LB_MEDICALHISTORY_AQX</label>
	                <div class="input-group">
	                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=local_hospital></md-ico></div></div>  
	                  <textarea rows="3" ng-model="frmParent.historia_aqx" class="form-control" required></textarea>
	                </div>
	              </div>
	              <div class="form-group required" flex>
	                <label translate>LB_ALLERGIES</label>
	                <div class="input-group">
	                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=voice_over_off></md-ico></div></div>  
	                  <textarea rows="3" ng-model="frmParent.historia_alergias" class="form-control" required></textarea>
	                </div>
	              </div>
	              <div class="form-group required" flex>
	                <label translate>LB_OTHERS</label>
	                <div class="input-group">
	                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=info></md-ico></div></div>  
	                  <textarea rows="3" ng-model="frmParent.historia_otros" class="form-control"></textarea>
	                </div>
	              </div>
							</div>
						</div>
						<div class="card card-outline card-danger no-padding no-margin margin-top" ng-if="frmParent.persona_sexo=='MUJER'">
							<div class="card-header text-center">
							  <h3 class="card-title" translate>LB_EXTRA_INFORMATION</h3>
							</div>
							<div class="card-body" layout=column layout-padding>
	              <div layout=column layout-padding>
		              <div class="form-group required" flex>
		                <label translate>LB_MEDICALHISTORY_MENARQUIA</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=event></md-ico></div></div>  
		                  <input ng-model="frmParent.historia_menarquia" class="form-control" required>
		                </div>
		              </div>
		              <div class="form-group required" flex>
		                <label translate>LB_MEDICALHISTORY_OBSTETRIC_BACKGROUND</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><i-fa i=venus></md-ico></div></div>  
		                  <textarea rows="3" ng-model="frmParent.historia_aobstetricos" class="form-control" required></textarea>
		                </div>
		              </div>
		            </div>
	              <div layout-xs=column layout=row layout-padding>
		              <div class="form-group required" flex>
		                <label translate>LB_MEDICALHISTORY_G</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=pregnant_woman></md-ico></div></div>  
		                  <input parse-float type="number" step="1" min="0" class="form-control font-digital" ng-model="frmParent.historia_gestas" required>
		                </div>
		              </div>
		              <div class="form-group required" flex>
		                <label translate>LB_MEDICALHISTORY_C</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=airline_seat_flat></md-ico></div></div>  
		                  <input parse-float type="number" step="1" min="0" class="form-control font-digital" ng-model="frmParent.historia_cesareas" required>
		                </div>
		              </div>
	              </div>
	              <div layout-xs=column layout=row layout-padding>
		              <div class="form-group required" flex>
		                <label translate>LB_MEDICALHISTORY_P</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=accessibility_new></md-ico></div></div>  
		                  <input parse-float type="number" step="1" min="0" class="form-control font-digital" ng-model="frmParent.historia_partos" required>
		                </div>
		              </div>
		              <div class="form-group required" flex>
		                <label translate>LB_MEDICALHISTORY_A</label>
		                <div class="input-group">
		                  <div class="input-group-prepend"><div class="input-group-text"><md-ico i=voice_over_off></md-ico></div></div>  
		                  <input parse-float type="number" step="1" min="0" class="form-control font-digital" ng-model="frmParent.historia_abortos" required>
		                </div>
		              </div>
	              </div>
							</div>
						</div>
					</md-content>
				</md-tab>
		</md-tabs>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button type="submit" ng-disabled="formData.$invalid"><span translate>BTN_SAVE</span></md-button>
		<span flex></span>
		<md-button type="button" ng-click="closeDialog()"><span translate>BTN_CANCEL</span></md-button>
	</md-dialog-actions>
  </form>
</md-dialog>