<md-card ng-cloak ng-controller="dataTableNodeCtrl">
	
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button">
				<md-ico i=content_copy></md-ico>
				<md-tooltip><span translate>TOOLBAR_DUPLICATES</span></md-tooltip>
			</md-button>
			
			<form flex name="filter.form">
	      <input class="form" type="text" ng-model="filterParent.textFilter" id="inputSearch" ng-model-options="filter.options" placeholder="{{'LB_SEARCH_MAIN_TOOLBAR' | translate}}">
	    </form>
			<md-button aria-label="btn" class="md-icon-button" ng-if="filterParent.textFilter!=''" ng-click="filterParent.textFilter=''">
				<md-ico i=clear></md-ico><md-tooltip><span translate>LB_CLEAR</span></md-tooltip>
			</md-button>
			
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-divider ng-if="allow.permiso5091"></md-divider>
	<md-toolbar  ng-if="allow.permiso5091">
	  <form class="md-toolbar-tools" ng-submit="scanBarCode()">
	    <md-button aria-label="btn" class="md-icon-button" aria-label="search"><i-fa i=barcode s=lg></i-fa></md-button>
	    <input class="form" ng-model="filterBarCode.code" placeholder="Ingrese el código de permiso para generar el registro de duplicado. Ej. 2020PER0666" flex>
	    <md-button aria-label="btn" class="md-icon-button" type="button" ng-if="filterBarCode.code!=''" ng-click="filterBarCode.code=''"><md-ico i=clear></md-ico></md-button>
	    <md-button aria-label="btn" class="md-icon-button" type="submit"><md-ico i=send></md-ico><md-tooltip><span translate>LB_VALIDATE</span></md-tooltip></md-button>
	  </form>
	</md-toolbar>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
      <col style="">
      <col style="width:20%">
      <col style="width:20%">
     	<col style="width:20%">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_PERMITS</span></th>
					<th md-column><span translate>LB_REQUESTED</span></th>
					<th md-column><span translate>LB_APPROVED</span></th>
					<th md-column><span translate>LB_DOWNLOADED</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.rows">
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.duplicado_estado]"></span><br>
						<a ui-sref="src.detailPermits({id:row.fk_permiso_id})" target="_balnk"><md-ico i=assignment_turned_in></md-ico></a><span ng-bind-html="highlight(row.permit.codigo_per)"></span>
						<div ng-if="row.duplicado_solicitud>0">
							<md-ico i=confirmation_number></md-ico><span ng-bind-html="highlight(row.duplicado_solicitud)"></span>
						</div>
						<div>
							<md-ico i=credit_card></md-ico><span ng-bind-html="highlight(row.permit.selfInspection.local.entity.entidad_ruc)"></span><br>
							<a ui-sref="src.detailEntities({entityId:row.permit.selfInspection.local.entity.entidad_id})" target="_balnk"><md-ico i={{string2JSON('mdIconList')[row.permit.selfInspection.local.entity.entidad_contribuyente]}}></md-ico></a><span ng-bind-html="highlight(row.permit.selfInspection.local.entity.entidad_razonsocial)"></span><br>
							<a ui-sref="src.detailLocals({localId:row.permit.selfInspection.local.local_id})" target="_balnk"><md-ico i=store_mall_directory></md-ico></a><span ng-bind-html="highlight(row.permit.selfInspection.local.local_nombrecomercial)"></span>
						</div>
					</td>
					<td md-cell class="text-uppercase">
						<md-ico i=person></md-ico><span ng-bind-html="highlight(row.requesting.usuario)"></span><br>
						<md-ico i=event></md-ico><span ng-bind-html="highlight(row.fecha_solicitado)"></span><br>
						<md-ico i=person_outline></md-ico><span ng-bind-html="highlight(row.jtprequest.staff.person.persona_titulo)"></span> <span ng-bind-html="highlight(row.jtprequest.staff.person.persona_apellidos)"></span> <span ng-bind-html="highlight(row.jtprequest.staff.person.persona_nombres)"></span>
					</td>
					<td md-cell class="text-uppercase">
						<div ng-if="row.duplicado_estado!='PENDIENTE'">
							<md-ico i=person></md-ico><span ng-bind-html="highlight(row.approving.usuario)"></span><br>
							<md-ico i=event></md-ico><span ng-bind-html="highlight(row.fecha_aprobado)"></span><br>
							<md-ico i=person_outline></md-ico><span ng-bind-html="highlight(row.jtpapprove.staff.person.persona_titulo)"></span> <span ng-bind-html="highlight(row.jtpapprove.staff.person.persona_apellidos)"></span> <span ng-bind-html="highlight(row.jtpapprove.staff.person.persona_nombres)"></span>
						</div>
					</td>
					<td md-cell>
						<div ng-if="row.duplicado_estado=='IMPRESO'">
							<md-ico i=person></md-ico><span ng-bind-html="highlight(row.downloading.usuario)"></span><br>
							<md-ico i=event_available></md-ico> <span ng-bind-html="highlight(row.fecha_impreso)"></span>
						</div>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	
	<datatable-footer></datatable-footer>
	
</md-card>