<md-card ng-cloak ng-controller="dataTableNodeCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=home_work></md-ico></md-button>
			<h2 class="md-flex" translate>TOOLBAR_WINERIES</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()">
				<md-ico i=search></md-ico><md-tooltip><span translate>LB_SEARCH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	
	<datatable-toolbar></datatable-toolbar>
	
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
     	<col style="">
     	<col style="">
     	<col style="width:20%;">
     	<col style="width:5%;">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_WINERIES</span></th>
					<th md-column><span translate>LB_STATIONS</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.rows">
					<td md-cell>
						<md-ico i=home_work></md-ico><span ng-bind-html="highlight(row.bodega_nombre)"></span><br>
						<md-ico i=info></md-ico><span ng-bind-html="highlight(row.bodega_modalidad)"></span>
					</td>
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="highlight(row.station.estacion_nombre+' - '+row.station.estacion_nombre_alterno)"></span>
					</td>
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.bodega_estado]"></span><br>
						<md-ico i=event></md-ico><span ng-bind-html="highlight(row.bodega_registro)"></span>
					</td>
					<td md-cell class="table-menu text-center">
					  <menu-supply-stations-control></menu-supply-stations-control>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	
	<datatable-footer></datatable-footer>
	
</md-card>