<md-card ng-cloak ng-controller="dataTableNodeCtrl">
	<md-toolbar ng-hide="filter.show">
		<div class="md-toolbar-tools">
			<md-button aria-label="btn" class="md-icon-button"><md-ico i=event></md-ico></md-button>
			<h2 class="md-flex" translate>LB_MONTHLY_RECORD</h2>
			<span flex></span>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openSearch()">
				<md-ico i=search></md-ico><md-tooltip><span translate>LB_SEARCH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="getParent()">
				<md-ico i=refresh></md-ico><md-tooltip><span translate>LB_REFRESH</span></md-tooltip>
			</md-button>
			<md-button aria-label="btn" class="md-icon-button" ng-click="openModal()" ng-if="allow.permiso803321">
				<md-ico i=add></md-ico><md-tooltip><span translate>LB_NEW</span></md-tooltip>
			</md-button>
		</div>
	</md-toolbar>
	<datatable-toolbar></datatable-toolbar>
	<md-table-container>
    <table md-table class="md-primary table-hover" md-progress="deferred">
      <col style="">
      <col style="">
      <col style="">
     	<col style="width:20%">
     	<col style="width:5%">
      <thead md-head md-order="filterParent.order" md-on-reorder="onOrderParent">
				<tr md-row>
					<th md-column><span translate>LB_PERIODS</span></th>
					<th md-column><span translate>LB_SINCE</span></th>
					<th md-column><span translate>LB_UNTIL</span></th>
					<th md-column><span translate>LB_DETAIL</span></th>
					<th md-column><span translate>LB_MENU</span></th>
				</tr>
      </thead>
      <tbody>
				<tr md-row data-ng-repeat="row in rowsParent.rows">
					<td md-cell>
						<a ui-sref="tthh.attendance.biometricmarkings({id:row.periodo_id})" target="_blank">
							<md-ico i=info></md-ico><span ng-bind-html="highlight(row.periodo_nombre)"></span><br>
						</a>
					</td>
					<td md-cell class="text-uppercase">
						<md-ico i=event></md-ico><span>{{row.periodo_desde | date:'fullDate'}}</span>
					</td>
					<td md-cell class="text-uppercase">
						<md-ico i=event></md-ico><span>{{row.periodo_hasta | date:'fullDate'}}</span>
					</td>
					<td md-cell>
						<md-ico i=flag></md-ico><span ng-bind-html="statusLabel[row.periodo_estado]"></span><br>
						<md-ico i=event></md-ico><span ng-bind-html="highlight(row.periodo_registro)"></span>
						<div>
							<md-ico i=list></md-ico><span>{{row.markings.length}}</span>
							<md-tooltip><span translate>LB_RECORDS_WITH_ERRORS</span></md-tooltip>
						</div>
					</td>
					<td md-cell class="table-menu text-center">
					  <menu-biometric-periods ng-if="(allow.permiso8033211 || allow.permiso803323 || allow.permiso803324 || allow.permiso803354)"></menu-biometric-periods>
					</td>
				</tr>
      </tbody>
    </table>
	</md-table-container>
	<datatable-footer></datatable-footer>
</md-card>
		